$igv_apple_crayon_licorice: #000000;
$igv_apple_crayon_lead: #1e1e1e;
$igv_apple_crayon_tungsten: #3a3a3a;
$igv_apple_crayon_iron: #545453;
$igv_apple_crayon_steel: #6e6e6e;
$igv_apple_crayon_tin: #878687;
$igv_apple_crayon_nickel: #888787;
$igv_apple_crayon_aluminum: #a09fa0;
$igv_apple_crayon_magnesium: #b8b8b8;
$igv_apple_crayon_silver: #d0d0d0;
$igv_apple_crayon_mercury: #e8e8e8;
$igv_apple_crayon_snow: #ffffff;
//
$igv_apple_crayon_cayenne: #891100;
$igv_apple_crayon_mocha: #894800;
$igv_apple_crayon_aspargus: #888501;
$igv_apple_crayon_fern: #458401;
$igv_apple_crayon_clover: #028401;
$igv_apple_crayon_moss: #018448;
$igv_apple_crayon_teal: #008688;
$igv_apple_crayon_ocean: #004a88;
$igv_apple_crayon_midnight: #001888;
$igv_apple_crayon_eggplant: #491a88;
$igv_apple_crayon_plum: #891e88;
$igv_apple_crayon_maroon: #891648;
//
$igv_apple_crayon_maraschino: #ff2101;
$igv_apple_crayon_tangerine: #ff8802;
$igv_apple_crayon_lemon: #fffa03;
$igv_apple_crayon_lime: #83f902;
$igv_apple_crayon_spring: #05f802;
$igv_apple_crayon_seam_foam: #03f987;
$igv_apple_crayon_turquoise: #00fdff;
$igv_apple_crayon_aqua: #008cff;
$igv_apple_crayon_blueberry: #002eff;
$igv_apple_crayon_grape: #8931ff;
$igv_apple_crayon_magenta: #ff39ff;
$igv_apple_crayon_strawberry: #ff2987;
//
$igv_apple_crayon_salmon: #ff726e;
$igv_apple_crayon_cantaloupe: #ffce6e;
$igv_apple_crayon_banana: #fffb6d;
$igv_apple_crayon_honeydew: #cefa6e;
$igv_apple_crayon_flora: #68f96e;
$igv_apple_crayon_spindrift: #68fbd0;
$igv_apple_crayon_ice: #68fdff;
$igv_apple_crayon_sky: #6acfff;
$igv_apple_crayon_orchid: #6e76ff;
$igv_apple_crayon_lavender: #d278ff;
$igv_apple_crayon_bubblegum: #ff7aff;
$igv_apple_crayon_carnation: #ff7fd3;
