@import "apple_crayon_color";

$igv-button-ok-color: #5ea4e0;
$igv-button-ok-hover-color: #3b5c7f;

$igv-button-cancel-color: #c4c4c4;
$igv-button-cancel-hover-color: #7f7f7f;

$igv-border-color: #bfbfbf;

$igv-panel-border-color: #292929;

$igv-ruler-sweeper-color: rgba(68, 134, 247, 0.25);
$igv-ruler-blue-color: rgb(0, 102, 255);

$igv-light-grey-color: #bfbfbf;
$igv-grey-color: #7F7F7F;
$igv-dark-grey-color: #373737;

$igv-trackgear-grey-color: #7F7F7F;
$igv-trackgear-font-color: #4b4b4b;
