
.igv-zoom-in-notice-container {

  z-index: 1024;

  position: absolute;
  //top: 50%;
  top: 8px;
  left: 50%;

  transform: translate(-50%, 0%);
  //transform: translate(-50%, -50%);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  //background-color: $igv_apple_crayon_honeydew;
  background-color: white;

  >div {

    padding-left: 4px;
    padding-right: 4px;

    padding-top: 2px;
    padding-bottom: 2px;

    width: 100%;
    height: 100%;

    font-family: $igv-default-font-face;
    font-size: 14px;
    font-weight: 400;
    color: #3f3f3f;
  }
}

.igv-zoom-in-notice {
  position: absolute;
  top: 10px;
  left: 50%;

  div {
    position: relative;
    left: -50%;
    font-family: $igv-default-font-face;
    font-size: medium;
    font-weight: 400;
    color: #3f3f3f;
    background-color: rgba(255, 255, 255, 0.51);
    z-index: 64;
  }

}

.igv-container-spinner {

  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1024;

  width: 24px;
  height: 24px;

  pointer-events:none;
  color: $igv-navbar-toggle-dark-dark;
}

.igv-multi-locus-close-button {
  position: absolute;
  top: 2px;
  right: 0;

  padding-left: 2px;
  padding-right: 2px;

  width: 18px;
  height: 18px;

  color: #666666;
  background-color: white;

  z-index: 1000;

  > svg {
    vertical-align: top;
  }

}

.igv-multi-locus-close-button:hover {
  cursor: pointer;
  color: #434343;
}

.igv-multi-locus-ruler-label {

  z-index:64;

  position: absolute;
  top: 2px;
  left: 0;

  width: 100%;
  height: 14px;

  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  div {
    font-family: $igv-default-font-face;
    font-size: 14px;
    font-weight: 400;
    color: rgb(16, 16, 16);
    background-color: white;
  }

}

// Use in conjunction with RulerViewport.presentLocusLabel_Dot_Square()
.igv-multi-locus-ruler-label-square-dot {

  z-index:64;

  position: absolute;

  left:50%;
  top:5%;
  transform: translate(-50%, 0%);

  background-color: white;

  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  >div:first-child {
    width: 14px;
    height: 14px;
  }

  >div:last-child {
    margin-left: 16px;
    font-family: $igv-default-font-face;
    font-size: 14px;
    font-weight: 400;
    color: rgb(16, 16, 16);
  }


}

.igv-multi-locus-ruler-label:hover {
  cursor: pointer;
}

.igv-ruler-sweeper {

  display: none;

  pointer-events: none;

  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height:100%;

  z-index:99999;

  background-color: $igv-ruler-sweeper-color;
}

.igv-ruler-tooltip {
  pointer-events: none;
  z-index: 128;

  position: absolute;
  top: 0;
  left: 0;

  width: 1px;
  height: 32px;

  background-color: transparent;

  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  > div {
    pointer-events: none;

    width: 128px;
    height: auto;

    padding: 1px;

    color: $igv-dark-grey-color;
    font-size: 10px;
    font-family: $igv-default-font-face;
    font-weight: 400;

    background-color: white;

    border-style: solid;
    border-width: thin;
    border-color: $igv-dark-grey-color;
  }

}

.igv-track-label {

  position: absolute;

  left: 8px;
  top: 8px;

  width: auto;
  height:auto;
  max-width: 200px;

  padding-left: 4px;
  padding-right: 4px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-family: $igv-default-font-face;
  font-size: small;
  font-weight: 400;

  text-align: center;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  border-color: #444;
  border-radius: 2px;
  border-style: solid;
  border-width: thin;

  background-color: white;

  z-index: 128;

  cursor: pointer;
}

.igv-track-label:hover,
.igv-track-label:focus,
.igv-track-label:active  {
  background-color: $igv_apple_crayon_mercury;
}

.igv-track-label-popup {

}

.igv-track-label-popup-shim {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
}