
$igv-menu-popup-font-face: 'Open Sans', sans-serif;
//$igv-menu-popup-border-radius: 2px;
$igv-menu-popup-border-radius: 4px;
$igv-menu-popup-font-color: #4b4b4b;
$igv-menu-popup-grey: rgba(127, 127, 127, 0.5);

$igv-menu-popup-padding: 12px;
$igv-menu-popup-padding-left: 12px;
$igv-menu-popup-padding-right: 12px;

.igv-menu-popup {
  position: absolute;
  top: 0;
  left: 0;

  width: max-content;

  z-index: 4096;

  cursor: pointer;

  font-family: $igv-menu-popup-font-face;
  font-size: small;
  font-weight: 400;
  color: $igv-menu-popup-font-color;

  background-color: white;

  border-radius: $igv-menu-popup-border-radius;
  border-color: $igv-menu-popup-grey;
  border-style: solid;
  border-width: thin;

  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;

  text-align: left;

  hr {
    margin: unset;
    border-top-color: rgba(128, 128, 128, 0.25);
  }

  b {
    padding-left: $igv-menu-popup-padding;
  }

  >div {
    padding-left: $igv-menu-popup-padding;
    padding-right: $igv-menu-popup-padding;
  }

  >div:hover {
    background-color: #f3f3f3;
  }

  > div:first-child {
    margin-top: 8px;
    border-top-left-radius: $igv-menu-popup-border-radius;
    border-top-right-radius: $igv-menu-popup-border-radius;
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: thin;
  }

  > div:last-child {
    border-bottom-left-radius: $igv-menu-popup-border-radius;
    border-bottom-right-radius: $igv-menu-popup-border-radius;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: thin;
    margin-bottom: 8px;
  }

}

.igv-menu-popup-check-container {

  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  height: 20px;

  background-color: transparent;

  >div:first-child {
    position: relative;
    width: 12px;
    height: 12px;

    svg {
      position: absolute;
      width: 12px;
      height: 12px;
    }

  }

}

.igv-menu-popup-check-container:hover {
  background-color: #f3f3f3;
}
