.igv-cursor-guide-horizontal {

  display: block;

  pointer-events: none;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  position: absolute;
  left: 0;
  right: 0;

  top: 50%;
  height: 1px;

  z-index: 32;

  margin-left: $igv-axis-column-width;
  margin-right: $igv-scrollbar-outer-width + $igv-track-drag-column-width + $igv-track-gear-menu-column-width;

  border-top-style: dotted;
  border-top-width: thin;
  border-top-color: rgba(127, 127, 127, 0.76);
}

.igv-cursor-guide-vertical {

  display: block;

  pointer-events: none;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  position: absolute;
  top: 0;
  bottom: 0;

  left: 50%;
  width: 1px;

  z-index: 32;

  border-left-style: dotted;
  border-left-width: thin;
  border-left-color: rgba(127, 127, 127, 0.76);

}
