
.igv-generic-container {

  position: absolute;
  top: 0;
  left:0;

  z-index: 2048;

  background-color: white;

  cursor: pointer;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  // header bar
  >div:nth-child(1) {

    cursor: move;

    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;

    height: 24px;
    width: 100%;

    background-color: #dddddd;

    i {
      display: block;
      color: #5f5f5f;
      cursor: pointer;
      width: 14px;
      height: 14px;
      margin-right: 8px;
      margin-bottom: 4px;
    }

  }

}
