
.igv-center-line {

  display: none;

  pointer-events:none;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  z-index: 8;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  border-left-style: dashed;
  border-left-width: thin;
  border-right-style: dashed;
  border-right-width: thin;

}

.igv-center-line-wide {
  background-color: rgba(0,0,0,0);
  //background-color: rgba(255,0,0,0.5);
  border-left-color: rgba(127, 127, 127, 0.51);
  border-right-color: rgba(127, 127, 127, 0.51);
}

.igv-center-line-thin {
  background-color: rgba(0,0,0,0);
  border-left-color: rgba(127, 127, 127, 0.51);
  border-right-color: rgba(0,0,0,0);
}
