
.igv-generic-container {

  position: absolute;
  top: 0;
  left:0;

  //border-style: solid;
  //border-width: thin;
  //border-color: #dddddd;

  z-index: 2048;

  background-color: white;

  cursor: pointer;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  // header bar
  div:first-child {
    padding-right: 8px;

    cursor: move;

    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;

    height: 24px;
    width: 100%;

    background-color: #dddddd;

    // close button
    i.fa {
      cursor: pointer;
      margin-right: 4px;
      display: block;
      color: #5f5f5f;
    }

    i.fa:hover,
    i.fa:focus,
    i.fa:active {
      cursor: pointer;
      color: #0f0f0f;
    }

  }

}