
//$igv-alert-dialog-width: 300px;
$igv-alert-dialog-width: 400px;
$igv-alert-dialog-height: 200px;
$igv-alert-dialog-margin: -150px;

$igv-alert-dialog-header-height: 24px;
$igv-alert-dialog-ok-container-height: 64px;
$igv-alert-dialog-ok-button-height: 30px;
$igv-alert-dialog-body-copy-margin: 16px;

.igv-ui-alert-dialog-container {

  position: fixed;

  top: 20%;
  left: 50%;
  transform: translateX(-50%);

  z-index: 2048;

  box-sizing: content-box;

  width:$igv-alert-dialog-width;
  height:$igv-alert-dialog-height;

  border-color: $igv-trackgear-grey-color;
  border-radius: $igv-trackgear-popover-border-radius;
  border-style: solid;
  border-width: thin;

  outline: none;

  font-family: $igv-default-font-face;
  font-size: 15px;
  font-weight: 400;

  background-color: white;

  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  // header
  > div:first-child {

    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: $igv-alert-dialog-header-height;
    cursor: move;

    border-top-left-radius: $igv-trackgear-popover-border-radius;
    border-top-right-radius: $igv-trackgear-popover-border-radius;
    border-bottom-color: $igv-trackgear-grey-color;
    border-bottom-style: solid;
    border-bottom-width: thin;

    background-color: #eee;

    div:first-child {
      // ERROR
      padding-left: 8px;
    }

  }

  // body container
  .igv-ui-alert-dialog-body {

    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;

    color: $igv-dark-grey-color;

    width: 100%;
    height: calc(100% - #{$igv-alert-dialog-header-height} - #{$igv-alert-dialog-ok-container-height});

    overflow-y: scroll;

    .igv-ui-alert-dialog-body-copy {
      //cursor: pointer;

      margin: $igv-alert-dialog-body-copy-margin;

      width: auto;
      height: auto;

      overflow-wrap: break-word;
      word-break: break-word;

      background-color: white;
      border: unset;
    }
  }

  // ok - container
  > div:last-child {

    width: 100%;
    margin-bottom: 10px;

    background-color: white;

    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    // ok - button
    div {
      margin: unset;
      width: 40px;
      height: $igv-alert-dialog-ok-button-height;

      line-height: $igv-alert-dialog-ok-button-height;
      text-align: center;

      color: white;
      font-family: $igv-default-font-face;
      font-size: small;
      font-weight: 400;

      border-color: #2B81AF;
      border-style: solid;
      border-width: thin;
      border-radius: 4px;
      background-color: #2B81AF;
    }

    div:hover {
      cursor: pointer;
      border-color: #25597f;
      background-color: #25597f;
    }

  }

}
