
$igv-color-swatch-size: 32px;
$igv-color-swatch-border-width: 2px;

.igv-ui-generic-container {

  position: fixed;

  top: 20%;
  left: 75%;
  transform: translateX(-50%);

  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  background-color: #eee;

  // color swatches
  >div:nth-child(2) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  // more colors
  >div:nth-child(3) {

    box-sizing: border-box;
    position: relative;

    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    padding: .5rem;
    font-family: $igv-default-font-face;
    font-size: 1rem;
    font-weight: 400;

    width: 100%;

    border-top-style: solid;
    border-top-width: thin;
    border-top-color: $igv-dark-grey-color;

  }

  // recent colors
  >div:nth-child(4) {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
}

.igv-ui-color-swatch {

  position: relative;

  box-sizing: content-box;

  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin: 2px;
  width: $igv-color-swatch-size;
  height: $igv-color-swatch-size;

  border-style: solid;
  border-width: 0;
  border-color: white;
  border-radius: 3px;

}

.igv-ui-color-swatch-shim {

  cursor: pointer;

  position: relative;

  box-sizing: content-box;

  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: $igv-color-swatch-size;
  height: $igv-color-swatch-size;

  background-color: white;

  border-style: solid;
  border-width: thin;
  border-color: white;
  border-radius: 4px;

}

