
.igv-ui-generic-container {

  position: fixed;

  top: 20%;
  left: 75%;
  transform: translateX(-50%);

  z-index: 2048;

  background-color: white;

  cursor: pointer;

  box-sizing: content-box;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  // header bar
  >div:first-child {

    cursor: move;

    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;

    height: 24px;
    width: 100%;

    background-color: #dddddd;

    >div {
      display: block;
      color: #5f5f5f;
      cursor: pointer;
      width: 14px;
      height: 14px;
      margin-right: 8px;
      margin-bottom: 4px;
    }

  }

}
