$igv-trackgear-grey-color: #7F7F7F;
$igv-trackgear-popover-border-radius: 4px;
$igv-trackgear-default-font-face: 'Open Sans', sans-serif;

.igv-trackgear-popover {

  position: absolute;

  min-width: 128px;

  z-index: 4096;

  font-family: $igv-trackgear-default-font-face;
  font-size: small;
  font-weight: 400;
  color: #444;

  background: white;

  border-radius: $igv-trackgear-popover-border-radius;
  border-color: $igv-trackgear-grey-color;
  border-style: solid;
  border-width: thin;
}

.igv-trackgear-popover-header {

  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;

  position: relative;

  width: 100%;
  height: 20px;

  border-top-left-radius: $igv-trackgear-popover-border-radius;
  border-top-right-radius: $igv-trackgear-popover-border-radius;
  border-bottom-color: $igv-trackgear-grey-color;
  border-bottom-style: solid;
  border-bottom-width: thin;

  background-color: #eee;

  div {
    margin-right: 4px;
    height: 12px;
    width: 12px;
    color: #444;
  }

  div:hover {
    cursor: pointer;
    color: #444;
  }

}

.igv-trackgear-popover-check-container {

  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: 20px;

  background-color: transparent;

  div {
    padding-top: 2px;
    padding-left: 8px;
  }

  div:first-child {

    width: 12px;
    height: 12px;

    svg {
      max-width: 100%;
      height: auto;
    }

  }

}
