
// generic dialog
.igv-ui-generic-dialog-container {

  box-sizing: content-box;

  position: fixed;

  top: 20%;
  left: 75%;
  transform: translateX(-50%);

  z-index: 2048;

  background-color: white;

  cursor: pointer;

  width:300px;
  height:fit-content;
  padding-bottom: 16px;

  border-color: $igv-trackgear-grey-color;
  border-radius: $igv-trackgear-popover-border-radius;
  border-style: solid;
  border-width: thin;

  font-family: $igv-default-font-face;
  font-size: medium;
  font-weight: 400;

  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  // header
  .igv-ui-generic-dialog-header {

    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
    height: 24px;
    cursor: move;

    border-top-left-radius: $igv-trackgear-popover-border-radius;
    border-top-right-radius: $igv-trackgear-popover-border-radius;
    border-bottom-color: $igv-trackgear-grey-color;
    border-bottom-style: solid;
    border-bottom-width: thin;

    background-color: #eee;

    div {
      margin-right: 4px;
      margin-bottom: 2px;
      height: 12px;
      width: 12px;
      color: $igv-trackgear-grey-color;
    }

    div:hover {
      cursor: pointer;
      color: #444;
    }

  }

  // one-liner
  .igv-ui-generic-dialog-one-liner {

    color: $igv-dark-grey-color;

    width: 95%;
    line-height: 24px;

    text-align: left;
    margin-top: 8px;
    padding-left: 8px;

    overflow-wrap: break-word;

    background-color: white;
  }

  // labeled input
  .igv-ui-generic-dialog-label-input {
    margin-top: 8px;

    width: 95%;
    height: 24px;

    color: $igv-dark-grey-color;

    line-height: 24px;
    padding-left: 8px;

    background-color: white;

    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    >div {
      width: fit-content;
      height: 100%;

      font-size: 16px;
      text-align: right;
      padding-right: 8px;

      background-color: white;
    }

    @include generic-input;
    input {
      width: 50%;
      font-size: 16px;
    }

  }

  // input
  .igv-ui-generic-dialog-input {
    margin-top: 8px;

    width: calc(100% - 16px);
    height: 24px;

    color: $igv-dark-grey-color;

    line-height: 24px;

    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

    @include generic-input;

    input {
      font-size: 16px;
    }

    input[type="range"] {
      width: 70%;
      -webkit-appearance: none;
      background: linear-gradient(90deg, white, black);
      outline: none;
      margin: 0;
    }

    output {
      display: block;
      height: 100%;
      width: 20%;
      font-size: 16px;
    }

  }

  // ok | cancel - container
  .igv-ui-generic-dialog-ok-cancel {

    width: 100%;
    height: $igv-button-height;
    padding-top: 16px;

    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

    >div {
      color: white;
      font-family: $igv-default-font-face;
      font-size: 14px;
      font-weight: 400;

      width: $igv-button-width;
      height: $igv-button-height;

      line-height: $igv-button-height;
      text-align: center;

      border-color: transparent;
      border-style: solid;
      border-width: thin;
      border-radius: $igv-button-border-radius;

    }

    >div:first-child {
      margin-left: 32px;
      margin-right: 0;
      background-color: $igv-button-ok-color;
    }

    >div:last-child {
      margin-left: 0;
      margin-right: 32px;
      background-color: $igv-button-cancel-color;
    }

    >div:first-child:hover {
      cursor: pointer;
      background-color: $igv-button-ok-hover-color;
    }

    >div:last-child:hover {
      cursor: pointer;
      background-color: $igv-button-cancel-hover-color;
    }

  }

}
