
// drag & drop
$drag-drop-light-grey-color: #bfbfbf;
$drag-drop-dark-grey-color: #373737;

$drag-drop-dark-color: #36464b;
$drag-drop-medium-color: #92b0b3;
$drag-drop-light-color: #c8dadf;
$drag-drop-light-translucent-color: rgba(200, 218, 223, 0.51);

$drag-drop-highlight-color: #39bfd3;

$drag-drop-warning-color: red;

.igv-drag-drop-container {

  position: absolute;
  top: 100px;
  left: 25%;
  width: 50%;
  //height: 360px;

  text-align: center;
  margin: 0 auto;

  padding-top: 64px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;

  z-index: 2000;

  background-color: $drag-drop-light-color;

  display:flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: space-around;


}

.igv-drag-drop-container.is-dragover {
  background-color: $drag-drop-light-translucent-color;
}

.igv-drag-and-drop-close-container {

  position: absolute;
  top: 16px;
  right: 18px;

  text-align: center;
  line-height: 100%;

  cursor: pointer;

  i.fa-times {
    color: $drag-drop-medium-color;
  }

  i.fa-times-circle {
    color: $drag-drop-dark-color;
  }

}

.igv-drag-drop-surface {
  position: relative;

  color: $drag-drop-dark-color;

  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 200;

  //background-color: $drag-drop-light-color;
}

.igv-drag-drop-surface .igv-drag-drop-surface-blurb {
  display: inline;
}

.igv-drag-and-drop-url-input-container {
  position: relative;
  width: 96%;
  //padding-left: 2%;
  //padding-right: 2%;
  //margin-top: 1px;
  margin: 8px auto;
}

.igv-drag-and-drop-url-input-container > div {
  margin-top: 14px;
  margin-bottom: 14px;
}

.igv-drag-drop-ok {

  width: 90%;
  margin: 4px auto;
  padding: 4px;

  color: $drag-drop-dark-color;

  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 200;

  text-align: center;


  border-style: solid;
  border-radius: 3px;
  border-width: thin;
  border-color: $drag-drop-dark-color;

  background-color: $drag-drop-light-color;

}

.igv-drag-drop-ok:hover,
.igv-drag-drop-ok:focus,
.igv-drag-drop-ok:active  {
  cursor: pointer;
  color: white;
  background-color: $drag-drop-dark-color;
}

.igv-drag-drop-cancel {

  width: 90%;
  margin: 4px auto;
  padding: 4px;

  color: white;

  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 200;

  text-align: center;

  border-style: solid;
  border-radius: 3px;
  border-width: thin;
  border-color: $drag-drop-dark-color;

  background-color: $drag-drop-dark-color;

}

.igv-drag-drop-cancel:hover,
.igv-drag-drop-cancel:focus,
.igv-drag-drop-cancel:active  {
  cursor: pointer;
}

.igv-drag-drop-warning {
  position: relative;

  width: 90%;
  //height: 24px;
  margin: 4px auto;

  color: $drag-drop-dark-grey-color;

  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;

  text-align: left;
  //vertical-align: middle;
  //line-height: 24px;

  border-style: solid;
  border-radius: 3px;
  border-width: thin;
  border-color: $drag-drop-dark-grey-color;

  background-color: white;

  overflow: auto;

  #warning-message {
    padding-top:4px;
    padding-bottom:4px;
    padding-left:8px;

    float: left;
    width: 90%;
    background-color: transparent;
    overflow: auto;
  }

  #warning-dismiss {
    float: right;
    color: $drag-drop-light-grey-color;
    padding-top: 2px;
    padding-right: 4px;
  }

  #warning-dismiss:hover,
  #warning-dismiss:focus,
  #warning-dismiss:active {
    cursor: pointer;
    color: $drag-drop-dark-grey-color;
  }

}

.igv-drag-and-drop-url-input-feedback {

  width: 100%;

  color: $drag-drop-dark-color;

  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 200;

  text-align: center;

  padding-left: 4px;
}

.igv-drag-and-drop-url-input {

  display: block;

  width: 100%;

  color: $drag-drop-dark-color;
  background-color: transparent;

  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 200;

  text-align: center;

  //padding-left: 4px;
  padding: 4px;
  margin: 8px;

  border: 0;
  border-bottom: 2px solid $drag-drop-dark-color;

}

.igv-drag-and-drop-url-input:focus,
.igv-drag-and-drop-url-input:active {
  background: white;
  border-bottom: transparent;
}

.igv-track-file-input-css {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.igv-track-file-input-css:hover + label strong {
  color: $drag-drop-highlight-color;
}

.igv-drag-drop-file-input {
  position: relative;
}

.igv-drag-drop-file-input label {
  max-width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
}

.igv-drag-drop-shim {
  position: relative;

  width: 100%;
  height: 8px;
  margin: 0 auto;

  color: transparent;

  background-color: transparent;

}
