$igv-roi-font-face: 'Open Sans', sans-serif;
$igv-roi-font-color: #4b4b4b;
$igv-roi-font-translucent-color: rgba(75, 75, 75, 0.6);

$igv-roi-border-radius: 4px;
$igv-roi-grey: #7F7F7F;

$igv-roi-menu-header-height: 24px;

$dimension: 24px;
$dimension-large: 32px;

$igv-roi-table-row-container-height: 5 * $dimension;

$igv-roi-border-color: #7f7f7f;

$igv-roi-table-button-height: 20px;
$igv-roi-table-button-radius: 3px;

$igv-roi-table-border-radius: 4px;
$igv-roi-dismiss-button-size: 12px;

$igv-roi-table-font-face: 'Open Sans', sans-serif;

$igv-roi-table-background-color: #eee;

// menu container
.igv-roi-menu {

  position: absolute;
  z-index: 512;

  font-family: $igv-roi-font-face;
  font-size: small;
  font-weight: 400;
  color: $igv-roi-font-color;

  background-color: white;

  width: (8 * $dimension);

  border-radius: $igv-roi-border-radius;
  border-color: $igv-roi-grey;
  border-style: solid;
  border-width: thin;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;

  // header
  > div:first-child {
    height: $igv-roi-menu-header-height;

    border-top-color: transparent;
    border-top-left-radius: $igv-roi-border-radius;
    border-top-right-radius: $igv-roi-border-radius;

    border-bottom-color: $igv-roi-grey;
    border-bottom-style: solid;
    border-bottom-width: thin;

    background-color: #eee;

    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;

    > div {
      margin-right: 4px;
      height: 12px;
      width: 12px;
      color: $igv-roi-grey;
    }

    > div:hover {
      cursor: pointer;
      color: #444;
    }

  }

  // body
  > div:last-child {

    //background-color: rgba(94, 255, 1, 0.5);
    background-color: white;

    border-bottom-left-radius: $igv-roi-table-border-radius;
    border-bottom-right-radius: $igv-roi-table-border-radius;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;

    text-align: start;
    vertical-align: middle;

    > div {

      height: $dimension;
      padding-left: 4px;

      border-bottom-style: solid;
      border-bottom-width: thin;
      border-bottom-color: $igv-roi-border-color;
    }

    > div:not(:first-child):hover {
      cursor: pointer;
      background-color: rgba(127, 127, 127, 0.1);
    }

    div:first-child {
      //cursor: default;

      font-style: italic;
      text-align: center;

      padding-right: 4px;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    > div:last-child {
      border-bottom-width: 0;
      border-bottom-color: transparent;
    }


  }

}

.igv-roi-placeholder {
  font-style: normal;
  color: $igv-roi-font-translucent-color;
}

// table container
.igv-roi-table {
  position: absolute;
  z-index: 1024;

  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;

  resize: both;
  overflow: hidden;

  width: min-content;
  max-width: 1600px;

  border-color: $igv-roi-border-color;
  border-radius: $igv-roi-table-border-radius;
  border-style: solid;
  border-width: thin;

  font-family: $igv-roi-table-font-face;
  font-size: 12px;
  font-weight: 400;

  background-color: white;

  // default div styling
  > div {
    height: $dimension;

    font-size: 14px;
    text-align: start;
    vertical-align: middle;
    line-height: $dimension;
  }

  // header
  > div:first-child {

    border-color: transparent;
    border-top-left-radius: $igv-roi-table-border-radius;
    border-top-right-radius: $igv-roi-table-border-radius;
    border-top-width: 0;

    border-bottom-color: $igv-roi-border-color;
    border-bottom-style: solid;
    border-bottom-width: thin;

    background-color: $igv-roi-table-background-color;

    cursor: move;

    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    > div:first-child {

      text-align: center;
      white-space: nowrap;
      text-overflow: ellipsis;

      overflow: hidden;

      margin-left: 4px;
      margin-right: 4px;
      width: calc(100% - 4px - #{$igv-roi-dismiss-button-size});
    }

    > div:last-child {
      margin-right: 4px;
      margin-bottom: 2px;
      height: $igv-roi-dismiss-button-size;
      width: $igv-roi-dismiss-button-size;
      color: $igv-roi-border-color;

      > svg {
        display: block;
      }
    }

    > div:last-child:hover {
      cursor: pointer;
      color: #444;
    }

  }

  cursor: default;

  // description
  > .igv-roi-table-description {

    padding: 4px;
    margin-left: 4px;

    //height: fit-content;
    //max-height: 300px;
    //min-height: 64px;

    word-break: break-all;
    overflow-y: auto;

    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;


    background-color: transparent;
  }

  > .igv-roi-table-goto-explainer {
    margin-top: 5px;
    margin-left: 4px;
    color: #7F7F7F;
    font-style: italic;

    height: $dimension;

    border-top: solid lightgray;

    background-color: transparent;
  }

  // column titles
  > .igv-roi-table-column-titles {

    height: $dimension;

    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: stretch;

    // to compensate for resize area in table row
    padding-right: 16px;

    background-color: white;

    border-top-color: $igv-roi-border-color;
    border-top-style: solid;
    border-top-width: thin;

    border-bottom-color: $igv-roi-border-color;
    border-bottom-style: solid;
    border-bottom-width: thin;

    > div {
      font-size: 14px;
      vertical-align: middle;
      line-height: $dimension;

      text-align: left;

      margin-left: 4px;

      height: $dimension;

      //white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      border-right-color: $igv-roi-border-color;
      border-right-style: solid;
      border-right-width: thin;

    }

    > div:last-child {
      border-right: unset;
    }

  }

  // table row container
  > .igv-roi-table-row-container {

    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;

    overflow: auto;

    height: (15 * $dimension);
    flex: 1 1 auto;

    background-color: transparent;
    //background-color: rgba(135, 206, 235, 0.36);

    // table row
    > .igv-roi-table-row {

      height: $dimension;

      display: flex;
      flex-flow: row;
      flex-wrap: nowrap;
      justify-content: stretch;
      align-items: stretch;

      > div {
        font-size: 14px;
        vertical-align: middle;
        line-height: $dimension;

        text-align: left;

        margin-left: 4px;

        height: $dimension;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        border-right-color: transparent;
        border-right-style: solid;
        border-right-width: thin;
      }

      > div:last-child {
        border-right: unset;
      }

    }

    > .igv-roi-table-row-hover {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }

  // footer buttons
  > div:last-child {

    min-height: $dimension-large;
    height: $dimension-large;
    line-height: $dimension-large;

    border-top-color: $igv-roi-border-color;
    border-top-style: solid;
    border-top-width: thin;

    border-bottom-color: transparent;
    border-bottom-left-radius: $igv-roi-table-border-radius;
    border-bottom-right-radius: $igv-roi-table-border-radius;
    border-bottom-width: 0;

    background-color: $igv-roi-table-background-color;

    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

  }

}

.igv-roi-table-row-selected {
  background-color: rgba(0, 0, 0, 0.125);
}

.igv-roi-table-button {

  cursor: pointer;

  height: $igv-roi-table-button-height;

  user-select: none;

  line-height: $igv-roi-table-button-height;

  text-align: center;
  vertical-align: middle;

  font-family: $igv-default-font-face;
  font-size: 13px;
  font-weight: 400;

  color: black;

  padding-left: 6px;
  padding-right: 6px;

  background-color: rgb(239, 239, 239);

  border-color: black;
  border-style: solid;
  border-width: thin;
  border-radius: $igv-roi-table-button-radius;
}

.igv-roi-table-button:hover {
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.13);
}

// region container
.igv-roi-region {
  z-index: 64;

  position: absolute;
  top: 0;
  bottom: 0;

  pointer-events: none;

  overflow: visible;

  //margin-top: 66px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;

  // ROI region header
  > div {
    position: relative;
    width: 100%;
    height: 8px;

    //cursor: pointer;
    pointer-events: auto;

  }
}

.igv-roi-menu-row {

  height: $dimension;

  padding-left: 8px;

  font-size: small;
  text-align: start;
  vertical-align: middle;

  line-height: $dimension;

  background-color: white;

}

.igv-roi-menu-row-edit-description {

  width: -webkit-fill-available;

  font-size: small;
  text-align: start;
  vertical-align: middle;

  background-color: white;

  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: stretch;
  align-items: stretch;

  > label {
    margin-left: 2px;
    margin-bottom: 0;
    display: block;
    //height: $dimension;
    //line-height: $dimension;
    width: -webkit-fill-available;
  }

  > input {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 1px;
    //height: $dimension;
    //line-height: $dimension;
    width: -webkit-fill-available;
  }
}
