
$igv-roi-border-color: #7f7f7f;
$dimension: 24px;
$igv-roi-table-width: 16 * $dimension;

$igv-roi-table-border-radius: 2px;
$igv-roi-dismiss-button-size: 12px;

$igv-roi-table-font-face: 'Open Sans', sans-serif;

// table container
.igv-roi-table {
  position: absolute;
  z-index: 1024;

  width:(16 * $dimension);

  border-color: $igv-roi-border-color;
  border-radius: $igv-roi-table-border-radius;
  border-style: solid;
  border-width: thin;

  font-family: $igv-roi-table-font-face;
  font-size: 12px;
  font-weight: 400;

  background-color: white;

  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;

  // default div styling
  >div {
    width: 100%;
    height: $dimension;

    font-size: 14px;
    text-align: start;
    vertical-align: middle;
    line-height: $dimension;

    //background-color: white;

    border-bottom-color: $igv-roi-border-color;
    border-bottom-style: solid;
    border-bottom-width: thin;
  }

  // header
  >div:nth-child(1) {

    border-color: transparent;
    border-top-left-radius: $igv-roi-table-border-radius;
    border-top-right-radius: $igv-roi-table-border-radius;
    border-top-width: 0;

    border-bottom-color: $igv-roi-border-color;
    border-bottom-style: solid;
    border-bottom-width: thin;

    background-color: #D8D8D8;

    cursor: move;

    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    >div:first-child {
      text-align: center;
      width: calc(100% - 4px - #{$igv-roi-dismiss-button-size});
      //background-color: rgba(3, 249, 135, 0.25);
    }

    >div:last-child {
      margin-right: 4px;
      margin-bottom: 2px;
      height: $igv-roi-dismiss-button-size;
      width: $igv-roi-dismiss-button-size;
      color: $igv-roi-border-color;
    }

    >div:last-child:hover {
      cursor: pointer;
      color: #444;
    }

  }

  // upper buttons
  >div:nth-child(2) {

    background-color: #D8D8D8;

    display: flex;
    flex-flow: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    >button {
      cursor: pointer;
    }
  }

  >.igv-roi-table-column-titles {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    background-color: #D8D8D8;
  }

  >.igv-roi-table-row {

    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
  }

  // footer buttons
  >div:last-child {
    border-color: transparent;
    border-bottom-left-radius: $igv-roi-table-border-radius;
    border-bottom-right-radius: $igv-roi-table-border-radius;
    border-width: 0;
    background-color: #D8D8D8;

    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

    >button {
      cursor: pointer;
    }

  }

}

.igv-roi-table-row-selected {
  background-color: rgba(0, 0, 0, 0.05);
}

// ROI region container
.igv-roi-region {
  cursor: pointer;
  z-index: 64;

  position: absolute;
  top:0;
  bottom: 0;

  pointer-events: none;

  overflow: visible;

  margin-top: 44px;

  border-left-width: thin;
  border-left-style: solid;
  border-left-color: $igv-roi-border-color;

  border-right-width: thin;
  border-right-style: solid;
  border-right-color: $igv-roi-border-color;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;

  // ROI region header
  >div {
    position: relative;
    pointer-events: auto;
    width: 100%;
    height: 8px;
  }
}

// menu container
.igv-roi-menu {
  position: absolute;
  z-index: 1024;

  width:(4 * $dimension);
  //height:(10 * $dimension);

  border-color: $igv-roi-border-color;
  border-radius: $igv-roi-table-border-radius;
  border-style: solid;
  border-width: thin;

  font-family: $igv-roi-table-font-face;
  //font-size: 12px;
  //font-weight: 400;

  background-color: white;

  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;

}

// reusable header
.igv-roi-header {

  position: relative;

  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;

  width: 100%;
  height: $dimension;
  cursor: move;

  background-color: #eee;

  border-top-left-radius: $igv-roi-table-border-radius;
  border-top-right-radius: $igv-roi-table-border-radius;
  border-top-color: transparent;
  border-top-style: solid;
  border-top-width: 0;

  border-bottom-color: $igv-roi-border-color;
  border-bottom-style: solid;
  border-bottom-width: thin;

  div {
    margin-right: 4px;
    margin-bottom: 2px;
    height: 12px;
    width: 12px;
    color: gray;
  }

  div:hover {
    cursor: pointer;
    color: #444;
  }

}

// reusable body
.igv-roi-body {
  width: 100%;

  background-color: white;

  border-bottom-left-radius: $igv-roi-table-border-radius;
  border-bottom-right-radius: $igv-roi-table-border-radius;
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 0;

  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;

  > .igv-roi-table-body-row:not(:last-child) {
    border-bottom-color: rgba(128, 128, 128, 0.50);
    border-bottom-style: solid;
    border-bottom-width: thin;
  }

  >div:last-child {

    border-bottom-left-radius: $igv-roi-table-border-radius;
    border-bottom-right-radius: $igv-roi-table-border-radius;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 0;

  }

}

// reusable row
.igv-roi-table-body-row {

  height: $dimension;

  padding-left: 8px;

  //color: grey;
  font-size: small;
  text-align: start;
  vertical-align: middle;

  line-height: $dimension;

  //background-color: rgba(255, 105, 180, 0.25);
  background-color: white;
}

// reusable row
.igv-roi-body-row {

  height: $dimension;

  padding-left: 8px;

  //color: grey;
  font-size: small;
  text-align: start;
  vertical-align: middle;

  line-height: $dimension;

  //background-color: rgba(255, 105, 180, 0.25);
  background-color: white;
}

.igv-roi-body-row:hover {
  cursor: pointer;
  background-color: #f4f4f4;
}
