
$dimension: 24px;
$dimension-large: 32px;

$igv-roi-table-row-container-height:5 * $dimension;

$igv-roi-border-color: #7f7f7f;

$igv-roi-table-width: 16 * $dimension;

$igv-roi-table-button-height: 20px;
$igv-roi-table-button-radius: 3px;

$igv-roi-table-border-radius: 4px;
$igv-roi-dismiss-button-size: 12px;

$igv-roi-table-font-face: 'Open Sans', sans-serif;

$igv-roi-table-background-color: #eee;

// table container
.igv-roi-table {
  position: absolute;
  z-index: 1024;

  width: fit-content;

  border-color: $igv-roi-border-color;
  border-radius: $igv-roi-table-border-radius;
  border-style: solid;
  border-width: thin;

  font-family: $igv-roi-table-font-face;
  font-size: 12px;
  font-weight: 400;

  background-color: white;

  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;

  // default div styling
  >div {
    //width: 100%;
    height: $dimension;

    font-size: 14px;
    text-align: start;
    vertical-align: middle;
    line-height: $dimension;
  }

  // header
  >div:first-child {

    border-color: transparent;
    border-top-left-radius: $igv-roi-table-border-radius;
    border-top-right-radius: $igv-roi-table-border-radius;
    border-top-width: 0;

    border-bottom-color: $igv-roi-border-color;
    border-bottom-style: solid;
    border-bottom-width: thin;


    background-color: $igv-roi-table-background-color;

    cursor: move;

    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    >div:first-child {
      text-align: center;
      width: calc(100% - 4px - #{$igv-roi-dismiss-button-size});
    }

    >div:last-child {
      margin-right: 4px;
      margin-bottom: 2px;
      height: $igv-roi-dismiss-button-size;
      width: $igv-roi-dismiss-button-size;
      color: $igv-roi-border-color;

      >svg {
        display: block;
      }
    }

    >div:last-child:hover {
      cursor: pointer;
      color: #444;
    }

  }

  // column titles
  >.igv-roi-table-column-titles {

    height: $dimension;

    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: stretch;

    // to compensate for resize area in table row
    padding-right: 16px;

    >div {
      font-size: 14px;
      vertical-align: middle;
      line-height: $dimension;

      text-align: center;
      margin-left: 4px;
      margin-right: 4px;

      height: $dimension;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    // chr
    >div:nth-child(1) {
      width: 20%;
    }

    // start
    >div:nth-child(2) {
      width: 15%;
    }

    // end
    >div:nth-child(3) {
      width:15%;
    }

    // description
    >div:nth-child(4) {
      width: 30%;
    }

    // set
    >div:nth-child(5) {
      width: 20%;
    }

    background-color: white;

    border-bottom-color: $igv-roi-border-color;
    border-bottom-style: solid;
    border-bottom-width: thin;

  }

  // table row container
  >.igv-roi-table-row-container {

    resize: both;
    overflow: scroll;

    min-width:512px;

    min-height: (3 * $dimension);
    height: (6 * $dimension);
    max-height: (20 * $dimension);

    background-color:white;

    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;

    // table row
    >.igv-roi-table-row {

      height: $dimension;

      display: flex;
      flex-flow: row;
      flex-wrap: nowrap;
      justify-content: stretch;
      align-items: stretch;

      >div {
        font-size: 14px;
        vertical-align: middle;
        line-height: $dimension;

        text-align: center;
        margin-left: 4px;
        margin-right: 4px;

        height: $dimension;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

      }

      // chr
      >div:nth-child(1) {
        width: 20%;
      }

      // start
      >div:nth-child(2) {
        width: 15%;
      }

      // end
      >div:nth-child(3) {
        width:15%;
      }

      >div:nth-child(4) {
        width: 30%;
      }

      // set
      >div:nth-child(5) {
        width: 20%;
      }

    }

    >.igv-roi-table-row-hover {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }

  // footer buttons
  >div:last-child {

    height: $dimension-large;
    line-height: $dimension-large;

    border-top-color: $igv-roi-border-color;
    border-top-style: solid;
    border-top-width: thin;

    border-bottom-color: transparent;
    border-bottom-left-radius: $igv-roi-table-border-radius;
    border-bottom-right-radius: $igv-roi-table-border-radius;
    border-bottom-width: 0;

    //background-color: $igv-roi-table-background-color;

    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

  }

}

.igv-roi-table-row-selected {
  background-color: rgba(0, 0, 0, 0.125);
}

.igv-roi-table-button {

  height: $igv-roi-table-button-height;

  user-select: none;

  line-height: $igv-roi-table-button-height;

  text-align: center;
  vertical-align: middle;

  font-family: $igv-default-font-face;
  font-size: 13px;
  font-weight: 400;

  color: black;

  padding-left: 6px;
  padding-right: 6px;

  background-color: rgb(239, 239, 239);

  border-color: black;
  border-style: solid;
  border-width: thin;
  border-radius: $igv-roi-table-button-radius;
}

.igv-roi-table-button:hover {
  cursor: pointer;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.13);
}

// region container
.igv-roi-region {
  z-index: 64;

  position: absolute;
  top:0;
  bottom: 0;

  pointer-events: none;

  overflow: visible;

  margin-top: 44px;

  border-left-width: thin;
  border-left-style: solid;
  border-left-color: $igv-roi-border-color;

  border-right-width: thin;
  border-right-style: solid;
  border-right-color: $igv-roi-border-color;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;

  // ROI region header
  >div {
    position: relative;
    width: 100%;
    height: 8px;

    cursor: pointer;
    pointer-events: auto;

  }
}

// menu container
.igv-roi-menu {
  position: absolute;
  z-index: 1024;

  width:(5 * $dimension);

  border-color: $igv-roi-border-color;
  border-radius: $igv-roi-table-border-radius;
  border-style: solid;
  border-width: thin;

  font-family: $igv-roi-table-font-face;

  background-color: white;

  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;

  > div:not(:last-child) {
    border-bottom-color: rgba(128, 128, 128, 0.50);
    border-bottom-style: solid;
    border-bottom-width: thin;
  }

  >div:first-child {

    border-top-left-radius: $igv-roi-table-border-radius;
    border-top-right-radius: $igv-roi-table-border-radius;
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: 0;

  }

  >div:last-child {

    border-bottom-left-radius: $igv-roi-table-border-radius;
    border-bottom-right-radius: $igv-roi-table-border-radius;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 0;

  }


}

.igv-roi-menu-row {

  height: $dimension;

  padding-left: 8px;

  //color: grey;
  font-size: small;
  text-align: start;
  vertical-align: middle;

  line-height: $dimension;

  background-color: white;

}

.igv-roi-menu-row-edit-description {

  height: $dimension;

  width: -webkit-fill-available;

  font-size: small;
  text-align: start;
  vertical-align: middle;

  line-height: $dimension;

  background-color: white;

  >input {
    display: block;
    width: -webkit-fill-available;
  }
}
