$dimension: 24px;
$igv-roi-table-width: 16 * $dimension;

$igv-roi-table-border-radius: 4px;

$igv-roi-table-font-face: 'Open Sans', sans-serif;

// menu container
.igv-roi-menu {
  position: absolute;
  z-index: 1024;

  width:(4 * $dimension);
  //height:(10 * $dimension);

  border-color: grey;
  border-radius: $igv-roi-table-border-radius;
  border-style: solid;
  border-width: thin;

  font-family: $igv-roi-table-font-face;
  font-size: 12px;
  font-weight: 400;

  background-color: white;

  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;

}

// table container
.igv-roi-table {
  position: absolute;
  z-index: 1024;

  width:(16 * $dimension);
  height:(10 * $dimension);

  border-color: grey;
  border-radius: $igv-roi-table-border-radius;
  border-style: solid;
  border-width: thin;

  font-family: $igv-roi-table-font-face;
  font-size: 12px;
  font-weight: 400;

  background-color: white;

  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;

}

// reusable header
.igv-roi-header {

  position: relative;

  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;

  width: 100%;
  height: $dimension;
  cursor: move;

  background-color: #eee;

  border-top-left-radius: $igv-roi-table-border-radius;
  border-top-right-radius: $igv-roi-table-border-radius;
  border-top-color: transparent;
  border-top-style: solid;
  border-top-width: 0;

  border-bottom-color: grey;
  border-bottom-style: solid;
  border-bottom-width: thin;

  div {
    margin-right: 4px;
    margin-bottom: 2px;
    height: 12px;
    width: 12px;
    color: gray;
  }

  div:hover {
    cursor: pointer;
    color: #444;
  }

}

// reusable body
.igv-roi-body {
  width: 100%;

  background-color: white;

  border-bottom-left-radius: $igv-roi-table-border-radius;
  border-bottom-right-radius: $igv-roi-table-border-radius;
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 0;

  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;

  >div:last-child {

    border-bottom-left-radius: $igv-roi-table-border-radius;
    border-bottom-right-radius: $igv-roi-table-border-radius;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 0;

  }

}

// reusable row
.igv-roi-body-row {

  height: $dimension;

  padding-left: 8px;

  color: grey;
  text-align: start;
  vertical-align: middle;

  line-height: $dimension;

  background-color: rgba(255, 105, 180, 0.25);
}

.igv-roi-body-row:hover {
  cursor: pointer;
  background-color: #f4f4f4;
}
