.igv-root-div {

    padding-top:18px;
}

.igv-track-label-div {

    position: relative;
    top: 0;
    left: 0;
    width: 100%;

    color: grey;
    font-family: 'PT Sans', sans-serif;
    font-size: x-small;
    font-weight: 400;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.igv-track-label-selected-div {
    color: rgba(204, 51, 0, 1);
    font-weight: 800;
}

.igv-header-div {
    position: relative;
    height: 24px;
    width: 100%;
    vertical-align: middle;

}

.igv-cursor-histogram-container {

    position: absolute;
    right: 48px;
    width: 100px;
    height: 100%;

    border-color: #a2a2a2;
    border-style: solid;
    border-width: thin;
}

.igv-cursor-histogram-div {
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    background: white;
}

/* override */
.igv-viewport-div {
    left: 100px;
    right: 150px;
}

/* override */
.igv-left-hand-gutter {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100%;
    background: rgb(255, 255, 255);
    display: inline-block;
}

.igv-cursor-track-container {
    margin-top: 4px;
    position: relative;
    width: 100%;
}

/* override */
.igv-track-container-div {
    padding-top: 0;
    padding-bottom: 0;
}

/* override */
.igv-track-div {
    position: relative;
    width: 100%;
    overflow:hidden;
    margin-bottom:0;
}

.igv-about-link {

    position: absolute;
    right: 80px;
    top: 16px;

    color: rgba(0, 51, 153, 1);

}

/*.igv-about-link:hover,*/
/*.igv-about-link:focus,*/
/*.igv-about-link.active {*/
    /*font-size: 110%;*/
/*}*/

.igv-utility-div {
    position: relative;
    width: 100%;
    height: 12px;
}

.igv-control-panel-header-div {

    position: absolute;
    right: 62px;
    top: 0;

    font-size: 75%;
}

.igv-horizontal-scrollbar-container-div {

    position: relative;

    top: 0;
    right:0;

    height:12px;

    /*background-color: red;*/
    background-color: white;
}

.igv-horizontal-scrollbar-shim-div {

    position: absolute;
    height: 100%;

    outline: 1px solid #444;
    outline-offset: 1px;
}

.igv-horizontal-scrollbar-div {

    position: absolute;
    width: 100%;
    height: 100%;

    background-color: #f3f3f3;
    /*background-color: lime;*/

}

.igv-horizontal-scrollbar-draggable-div {

    position: absolute;
    left: 0;
    top: 0;

    width: 100px;
    height:100%;

    background-color: rgba(153, 153, 153, 1);

    cursor: pointer;

}

.igv-horizontal-scrollbar-draggable-div:hover,
.igv-horizontal-scrollbar-draggable-div:focus,
.igv-horizontal-scrollbar-draggable-div:active {
    background-color: rgba(102, 102, 102, 1);
}

.igv-trackfilter-fontawesome {

    position: relative;
    float: left;

    padding-top: 2px;

    cursor: pointer;

    color: grey;
}

.igv-trackfilter-fontawesome:hover,
.igv-trackfilter-fontawesome:focus,
.igv-trackfilter-fontawesome:active {
    color: rgba(204, 51, 0, 1);
}

.igv-trackfilter-fontawesome-selected {
    color: rgba(204, 51, 0, 1);
}

.igv-track-filter-button-div {

    position: relative;
    cursor: pointer;
    background: none;

    float: left;
    margin-left: 2px;
    margin-right: 2px;
}

/* Override margin-left and margin-right */
.igv-content-div {
    margin-left: 0;
    margin-right: 0;
}

.igv-track-manipulation-container {
    position: absolute;
    right: 0;
    width: 48px;
    height: 100%;

    background: white;
    text-align: center;

    /*border-left-width: thin;*/
    /*border-left-color: #444;*/
    /*border-left-style: solid;*/
}

.igv-track-manipulation-icon-box {

    margin: auto;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    width: 100%;
    height: 30px;

    background: white;

}

.igv-track-manipulation-move-up {
    position: absolute;
    left: 4px;
    top: 0;
    color: grey;
}

.igv-track-manipulation-move-down {
    position: absolute;
    left: 4px;
    bottom: 0;
    color: grey;
}

.igv-track-manipulation-discard {
    position: absolute;
    left: 20px;
    top: 0;
    color: grey;
    background-color: white;
}

.igv-track-manipulation-move-up:hover,
.igv-track-manipulation-move-down:hover,
.igv-track-manipulation-discard:hover,
    /**/
.igv-track-manipulation-move-up:focus,
.igv-track-manipulation-move-down:focus,
.igv-track-manipulation-discard:focus,
    /**/
.igv-track-manipulation-move-up:active,
.igv-track-manipulation-move-down:active,
.igv-track-manipulation-discard:active  {
    /*font-size: medium;*/
    color: rgba(51, 51, 51, 1);
}

.igv-control-bullseye-stack-fontawesome {

    position: relative;
    float: left;

    color: grey;

    cursor: pointer;

    font-size: x-small;

}

.igv-control-bullseye-stack-fontawesome-selected {
    color: rgba(204, 51, 0, 1);
}

.igv-control-bullseye-stack-fontawesome:hover,
.igv-control-bullseye-stack-fontawesome:focus,
.igv-control-bullseye-stack-fontawesome:active {
    /*color: rgba(51, 51, 51, 1);*/
    color: rgba(204, 51, 0, 1);
}

.igv-control-bullseye-fontawesome {
    display: none;
}

.igv-control-bullseye-fontawesome-selected {
    color: rgba(204, 51, 0, 1);
    display: inline;
}

.igv-control-sort-fontawesome {

    position: relative;
    float: left;

    padding-top: 3px;

    cursor: pointer;

    color: grey;
}

.igv-control-sort-fontawesome:hover,
.igv-control-sort-fontawesome:focus,
.igv-control-sort-fontawesome:active {
    /*color: rgba(51, 51, 51, 1);*/
    color: rgba(204, 51, 0, 1);
}

.igv-control-sort-fontawesome-selected {

    position: relative;
    float: left;

    padding-top: 3px;

    cursor: pointer;
    color: rgba(204, 51, 0, 1);
}

.igv-control-sort-fontawesome-selected:hover,
.igv-control-sort-fontawesome-selected:focus,
.igv-control-sort-fontawesome-selected:active {
    /*font-size: medium;*/
}

.igv-cursor-ui-header {

    margin-top: 4px;

    width: 100%;
    height: auto;

    background: url(../img/cursor_logo.svg);
    background-size: 100px 32px;
    background-repeat:no-repeat;
    background-position: 21px 9px;
}

.igv-cursor-ui-holder {
    width: 640px; /*adjust this value as the number of ui items grow.*/
    margin:auto;
}

.igv-cursor-ui {
    margin:auto;
    width: 100%;
    display:inline-block;
    border: solid 1px grey;
    background-color: #fff;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px 5px 5px 5px;
}

.igv-cursor-ui-item {
    float:left;
    color: grey;
    font-weight: 400;
    padding: 5px 8px 5px 8px;
}

.igv-cursor-input-text {
    height: 28px;
    width: 48px;
    border: solid 1px gray;
    border-radius: 3px;
    padding: 0 3px 0 3px;
}

.igv-cursor-input-text:hover,
.igv-cursor-input-text:focus,
.igv-cursor-input-text:active {
    color: rgba(51, 51, 51, 1);
}

.igv-cursor-ui-right-border {
    border-right: solid 1px gray;
}

.fa-search-minus:hover,
.fa-search-minus:focus,
.fa-search-minus:active,
/**/
.fa-search-plus:hover,
.fa-search-plus:focus,
.fa-search-plus:active,
/**/
.fa-compress:hover,
.fa-compress:focus,
.fa-compress:active {
    color: rgba(51, 51, 51, 1);
}

.igv-cursor-ui-header-blurb {
    padding: 4px 0 8px 0;
    width: 100%;
    margin:auto;
    text-align: center;
    display: none;
}

/*Four values apply to 1. top, 2. right, 3. bottom and 4. to the left side*/
.igv-cursor-ui-spacer4 {
    padding: 0 2px 0 2px;
}

.igv-cursor-ui-spacer8 {
    padding: 0 4px 0 4px;
}
