
.igv-about-link {

    position: absolute;
    right: 80px;
    top: 16px;

    color: rgba(0, 51, 153, 1);

}

.igv-about-link:hover,
.igv-about-link:focus,
.igv-about-link.active {
    font-size: 110%;
}

.igv-utility-div {

    position: relative;
    width: 100%;
    height: 12px;
    background-color: white;

}

.igv-control-panel-header-div {

    position: relative;
    left: 8px;
    top: 0;
    width: 200px;
    height: 100%;

    font-size: 85%;

    background-color: white;
}

.igv-horizontal-scrollbar-container-div {

    position: relative;

    top: 0;
    right:0;

    height:16px;

    background-color: white;
}

.igv-horizontal-scrollbar-shim-div {

    position: absolute;

    top: 0;
    bottom: 0;

    left:0;
    right:0;

    background-color: white;

    border-color: #444;
    border-style: solid;
    border-width: thin;

}

.igv-horizontal-scrollbar-div {

    position: absolute;

    top:    1px;
    bottom: 1px;

    left:   1px;
    right:  1px;

    background-color: rgba(204, 204, 204, 1);

}

.igv-horizontal-scrollbar-draggable-div {

    position: absolute;

    left: 0;
    top: 0;

    width: 100px;
    height:100%;

    background-color: rgba(153, 153, 153, 1);

    cursor: pointer;

}

.igv-horizontal-scrollbar-draggable-div:hover,
.igv-horizontal-scrollbar-draggable-div:focus,
.igv-horizontal-scrollbar-draggable-div:active {
    background-color: rgba(102, 102, 102, 1);
}

.igv-cursorHistogram-div {
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    background: white;
    /*display: none;*/
}

.igv-trackfilter-fontawesome {
    padding-top: 3px;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
    color: grey;
}

.igv-trackfilter-fontawesome:hover,
.igv-trackfilter-fontawesome:focus,
.igv-trackfilter-fontawesome:active {
    color: rgba(102, 102, 102, 1);
    font-size: medium;
}

.igv-filter-histogram-button-div {

    position: relative;
    cursor: pointer;
    background: none;

    float: left;
    margin-left: 2px;
    margin-right: 2px;
}

/* Override track-icon-container to set left and add transparency */
.igv-track-icon-container {
    left: 0;
    background: rgba(255, 255, 255, 0.75);
}

/* Override igv-control-div to add border */
.igv-track-control-div {
    width: 100px;
    border-color: #444;
    border-style: solid;
    border-width: thin;

}

/* Override viewport div to set right */
.igv-viewport-div {
    left: 100px;
    right: 48px;
}

/* Override margin-left and margin-right */
.igv-content-div {
    margin-left: 0;
    margin-right: 0;
}

.igv-track-manipulation-container {
    position: absolute;
    right: 0;
    width: 48px;
    height: 100%;

    background: white;
    text-align: center;

    border-left-width: thin;
    border-left-color: #444;
    border-left-style: solid;
}

.igv-track-manipulation-icon-box {

    margin: auto;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    width: 100%;
    height: 30px;

    background: white;

}

.igv-track-manipulation-move-up {
    position: absolute;
    left: 4px;
    top: 0;
    color: rgba(51, 153, 204, 1);
}

.igv-track-manipulation-move-down {
    position: absolute;
    left: 4px;
    bottom: 0;
    color: rgba(51, 153, 204, 1);
}

.igv-track-manipulation-discard {
    position: absolute;
    left: 20px;
    top: 0;
    color: rgba(153, 0, 0, 1);
    background-color: white;
}

.igv-track-manipulation-move-up:hover,
.igv-track-manipulation-move-down:hover,
.igv-track-manipulation-discard:hover,
    /**/
.igv-track-manipulation-move-up:focus,
.igv-track-manipulation-move-down:focus,
.igv-track-manipulation-discard:focus,
    /**/
.igv-track-manipulation-move-up:active,
.igv-track-manipulation-move-down:active,
.igv-track-manipulation-discard:active  {
    font-size: medium;
}

.igv-control-bullseye-stack-fontawesome {

    position: relative;
    cursor: pointer;
    color: grey;
    font-size: x-small;

    float: left;
    margin-left: 2px;
    margin-right: 2px;
}

.igv-control-bullseye-fontawesome-selected {
    color: #000000;
    display: inline;
}

.igv-control-bullseye-fontawesome {
    display: none;
}

.igv-control-sort-fontawesome {

    padding-top: 3px;
    position: relative;
    cursor: pointer;
    color: grey;

    float: left;
    margin-left: 2px;
    margin-right: 2px;
}

.igv-control-sort-fontawesome-selected {

    padding-top: 3px;
    position: relative;
    cursor: pointer;
    color: rgba(204, 51, 0, 1);

    float: left;
    margin-left: 2px;
    margin-right: 2px;
}

.igv-control-bullseye-stack-fontawesome:hover,
.igv-control-bullseye-stack-fontawesome:focus,
.igv-control-bullseye-stack-fontawesome:active {
    color: rgba(102, 102, 102, 1);
    font-size: 85%;
}

.igv-control-sort-fontawesome-selected:hover,
.igv-control-sort-fontawesome-selected:focus,
.igv-control-sort-fontawesome-selected:active {
    font-size: medium;
}

.igv-control-sort-fontawesome:hover,
.igv-control-sort-fontawesome:focus,
.igv-control-sort-fontawesome:active {
    color: rgba(102, 102, 102, 1);
    font-size: medium;
}


/*Four values apply to 1. top, 2. right, 3. bottom and 4. to the left side*/
.igv-cursor-ui-spacer4 {
    padding: 0 2px 0 2px;
}

.igv-cursor-ui-spacer8 {
    padding: 0 4px 0 4px;
}

.igv-cursor-ui-header {
    margin-top: 4px;
    width: 100%;
    height: 40px;
    background-image:url(../img/cursor_logo.png);
    background-repeat:no-repeat;
    background-position: 21px 0;
}

.igv-cursor-ui-holder {
    width: 640px; /*adjust this value as the number of ui items grow.*/
    margin:auto;
}

.igv-cursor-ui {
    margin:auto;
    width: 100%;
    display:inline-block;
    border: solid 1px #444;
    background-color: #fff;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px 5px 5px 5px;
}

.igv-cursor-ui-item {
    float:left;
    padding: 5px 8px 5px 8px;
}

.igv-cursor-input-text {
    height: 28px;
    width: 48px;
    border: solid 1px #444;
    border-radius: 3px;
    padding: 0 3px 0 3px;
}

.igv-cursor-ui-right-border {
    border-right: solid 1px #444;
}

.igv-cursor-ui-header-blurb {
    padding: 20px 0 8px 0;
    width: 100%;
    margin:auto;
    text-align: center;
    display: none;
}

