.buttons-collect {
    font-family:Arial, Helvetica, sans-serif;
}

div.button-box {
    float:left;
    border: solid 1px #ccc;
    border-right:none;
    padding: 7px 10px 7px 10px;
    background-color:#eee;

}

.button-box-first {
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}

.button-box-last {
    border-right:solid 1px #ccc !important;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    margin-right:10px;
}

.on {
    background-color: green;
}

.off {
    background-color: blue;
}

.button {
    float:left;
    font-size:12px;
    border: solid 1px #ccc  !important;
    padding: 5px 10px 5px 10px;
    background-color:#fff;
    color: #555;
    /*
    color: white;
    */
}

.button:hover {
    background-color:#eFc;
    border: solid 1px #aaa;
    color: #000;
}

.button:active {
    background-color: #b0f372;
    border: solid 1px #390;
    color: #207302;
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.25);
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.25);
}

.two-button {
    width:45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    text-align: center;
    float: left;
}

.three-button {
    width: 30%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    text-align: center;
    float: left;

}

.button-box-title {
    width: 100%;
    text-align:center;
    font-size: 13px;
    padding-bottom: 5px;
    /*
    height: 50%;
    color: black;
    */
}

.btn-left {
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}

.btn-right {

    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}

.btn-active, .btn-active:hover {
    background-color: #b0f372;
    border: solid 1px #390;
    color: #207302;
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.25);
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.25);
}

.button-options {

}




.igvexpRootDiv-horizontal-plot {
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 650px;
}

.igvexpRootDiv-vertical-plot {
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 1200px;
}

.expBoxPlotDiv-horizontal-plot {
    position: absolute;
    top: 150px;
    left: 100px;
    right: 100px;
    height: 400px;
}

.expBoxPlotDiv-vertical-plot {
    position: absolute;
    top: 150px;
    left: 300px;
    right: 50px;
    height: 1000px;
}

.expBoxPlotDiv-isoform-plot {
    position: absolute;
    top: 150px;
    left: 100px;
    right: 250px;
    height: 400px;
}

.expTickLabelDiv-isoform-plot {
    position: absolute;
    top: 550px;
    left: 100px;
    right: 150px;
    height: 150px;
}

.expTickLabelDiv-horizontal-plot {
    position: absolute;
    top: 550px;
    left: 100px;
    right: 0px;
    height: 150px;
}

.expTickLabelDiv-vertical-plot {
    position: absolute;
    top: 1150px;
    left: 300px;
    right: -100px;
    height: 100px;
}

.expRPKMLabelDiv-horizontal-plot {
    position: absolute;
    top: 150px;
    left: 0px;
    height: 400px;
    width: 100px;
}

.expRPKMLabelDiv-vertical-plot {
    position: absolute;
    top: 150px;
    left: 0px;
    height: 1000px;
    width: 300px;
}

#expTitleDiv {
    position: absolute;
    font-size: 40px;
    text-align: center;
    top: 100px;
    left: 100px;
    right: 250px;
}

#expLegendDiv {
    position: absolute;
    top: 150px;
    right: 0px;
    height: 400px;
    width: 250px;
}

#expControlDiv {
    position: absolute;
    left: 100px;
}

#expRootDiv {
    clear:both;
}

#igvControlDiv {
    margin-left: 40px;
    margin-bottom: 20px;
    border-bottom: medium;
}

#igvTrackHeightInput {
    width: 50px;
}

#igvGtexSelectionDiv {
    margin-left: 40px;
    clear: both;
    padding-top: 10px;
    padding-bottom: 10px;
}

.igvZoomButton {
    float: right;
}



/* Move down content because we have a fixed navbar that is 50px tall */
.igv-gtex-root-div {
    display: block;
    position: relative;
    left: 0px;
    right: 0px;
}

.igv-gtex-control-div {
    position: absolute;
    left: 0px;
    right: 0px;
    height: 20;
    background-color: darkcyan;
}


#dropdown-list {
    max-height: 200px;
    overflow: auto;
    top: 15px;
    position: relative;
    left: 50px
}


/* Some experimental classes,  */
.cursor-btn-default {
    color: #333;
    background-color: #fff;
    border-color: #357ebd;
}
.cursor-btn-default:hover,
.cursor-btn-default:focus,
.cursor-btn-default:active,
.cursor-btn-default.active,
.open .dropdown-toggle.btn-default {
    color: #333;
    background-color: #ebebeb;
    border-color: #357ebd;
}
.cursor-btn-selected {
    color: #333;
    background-color: #ebebeb;
    border-color: #357ebd;
}


.btn-cursor-selected {
    color: #ffffff;
    background-color: #BD1B30;
    border-color: #ffffff;
}

.btn-cursor-selected:hover,
.btn-cursor-selected:focus,
.btn-cursor-selected:active,
.btn-cursor-selected.active,
.open .dropdown-toggle.btn-cursor-selected {
    color: #ffffff;
    background-color: #BD1B30;
    border-color: #ffffff;
}

.btn-cursor-selected:active,
.btn-cursor-selected.active,
.open .dropdown-toggle.btn-cursor-selected {
    background-image: none;
}

.btn-cursor-selected.disabled,
.btn-cursor-selected[disabled],
fieldset[disabled] .btn-cursor-selected,
.btn-cursor-selected.disabled:hover,
.btn-cursor-selected[disabled]:hover,
fieldset[disabled] .btn-cursor-selected:hover,
.btn-cursor-selected.disabled:focus,
.btn-cursor-selected[disabled]:focus,
fieldset[disabled] .btn-cursor-selected:focus,
.btn-cursor-selected.disabled:active,
.btn-cursor-selected[disabled]:active,
fieldset[disabled] .btn-cursor-selected:active,
.btn-cursor-selected.disabled.active,
.btn-cursor-selected[disabled].active,
fieldset[disabled] .btn-cursor-selected.active {
    background-color: #BD1B30;
    border-color: #ffffff;
}

.btn-cursor-selected .badge {
    color: #BD1B30;
    background-color: #ffffff;
}


.btn-cursor-deselected {
    color: #000000;
    background-color: #FFFFFF;
    border-color: #000000;
}

.btn-cursor-deselected:hover,
.btn-cursor-deselected:focus,
.btn-cursor-deselected:active,
.btn-cursor-deselected.active,
.open .dropdown-toggle.btn-cursor-deselected {
    color: #000000;
    background-color: #BD1B30;
    border-color: #000000;
}

.btn-cursor-deselected:active,
.btn-cursor-deselected.active,
.open .dropdown-toggle.btn-cursor-deselected {
    background-image: none;
}

.btn-cursor-deselected.disabled,
.btn-cursor-deselected[disabled],
fieldset[disabled] .btn-cursor-deselected,
.btn-cursor-deselected.disabled:hover,
.btn-cursor-deselected[disabled]:hover,
fieldset[disabled] .btn-cursor-deselected:hover,
.btn-cursor-deselected.disabled:focus,
.btn-cursor-deselected[disabled]:focus,
fieldset[disabled] .btn-cursor-deselected:focus,
.btn-cursor-deselected.disabled:active,
.btn-cursor-deselected[disabled]:active,
fieldset[disabled] .btn-cursor-deselected:active,
.btn-cursor-deselected.disabled.active,
.btn-cursor-deselected[disabled].active,
fieldset[disabled] .btn-cursor-deselected.active {
    background-color: #FFFFFF;
    border-color: #000000;
}

.btn-cursor-deselected .badge {
    color: #FFFFFF;
    background-color: #000000;
}
