/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* A hack to remove the unwanted "No File Chosen" text from the file upload button */
input[type='file'] {
    width: 82px;
}

.well {
    background-color: rgba(255, 0, 0, 0.5);
}

.row {
    text-align: center
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.spacer5 { height: 5px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer10 { height: 10px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer15 { height: 15px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer20 { height: 20px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer25 { height: 25px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer30 { height: 30px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer35 { height: 35px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer40 { height: 40px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer45 { height: 45px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer50 { height: 50px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer100 { height: 100px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer200 { height: 200px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }

.igv-gtex-root-div {
    display: block;
    position: relative;
    left: 0px;
    right: 0px;
}

.igv-gtex-control-div {
    position: absolute;
    left: 0px;
    right: 0px;
    height: 20;
    background-color: darkcyan;
}

.igv-root-div {
    position: absolute;
    margin-left: 10px;
    margin-right: 10px;
    left: 0;
    right: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-tap-highlight-color: rgba(0,0,0,0);

    -webkit-touch-callout: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.igv-header-div {
    position: absolute;
    top:40px;
    left: 0;
    right: 0;
    /*background-color: darkseagreen;*/
}

.igv-track-container-div {
    position: absolute;
    left: 0;
    top:80px;
    right: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    /*background-color: darkcyan;*/
}

.igv-track-div {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    /*background-color: darkcyan;*/
}

.igv-control-div {
    position: absolute;
    left: 0;
    width: 50px;
    height: 100%;
    border:none;
    padding: 0;
    background: none;
}

.igv-viewport-div {
    position: absolute;
    left: 50px;
    right: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    /*background-color: darkcyan;*/
}

.igv-content-div {
    position: absolute;
    width: 100%;
}

.igv-cursorHistogram-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    border:none;
    padding: 0;
    background: none;
    outline: thin solid rgba(64, 64, 64, 1.0);
}

.igv-filter-histogram-button-div {
    position: absolute;
    top: 0;
    left: 0;
    border:none;
    padding: 0;
    background: none;
}

.igv-filter-div {
    position: absolute;
    width: 128px;
    border:none;
    padding: 0;
    height: 100%;
    background: none;
}

.igv-filter-button {
    position: absolute;
    width: 128px;
    border:none;
    padding: 0;
    height: 100%;
    background: none;
}

.igv-filter-thumbnail-horizonal-line {
    position: absolute;
    left: 0;
    width: 128px;
    height: 2px;
    border:none;
    padding: 0;
    background-color: rgba(255, 0, 0, .75);
}


#dropdown-list {
    max-height: 200px;
    overflow: auto;
    top: 15px;
    position: relative;
    left: 50px;
}


/* Some experimental classes,  */
.cursor-btn-default {
    color: #333;
    background-color: #fff;
    border-color: #357ebd;
}
.cursor-btn-default:hover,
.cursor-btn-default:focus,
.cursor-btn-default:active,
.cursor-btn-default.active,
.open .dropdown-toggle.btn-default {
    color: #333;
    background-color: #ebebeb;
    border-color: #357ebd;
}
.cursor-btn-selected {
    color: #333;
    background-color: #ebebeb;
    border-color: #357ebd;
}


.btn-cursor-selected {
    color: #ffffff;
    background-color: #BD1B30;
    border-color: #ffffff;
}

.btn-cursor-selected:hover,
.btn-cursor-selected:focus,
.btn-cursor-selected:active,
.btn-cursor-selected.active,
.open .dropdown-toggle.btn-cursor-selected {
    color: #ffffff;
    background-color: #BD1B30;
    border-color: #ffffff;
}

.btn-cursor-selected:active,
.btn-cursor-selected.active,
.open .dropdown-toggle.btn-cursor-selected {
    background-image: none;
}

.btn-cursor-selected.disabled,
.btn-cursor-selected[disabled],
fieldset[disabled] .btn-cursor-selected,
.btn-cursor-selected.disabled:hover,
.btn-cursor-selected[disabled]:hover,
fieldset[disabled] .btn-cursor-selected:hover,
.btn-cursor-selected.disabled:focus,
.btn-cursor-selected[disabled]:focus,
fieldset[disabled] .btn-cursor-selected:focus,
.btn-cursor-selected.disabled:active,
.btn-cursor-selected[disabled]:active,
fieldset[disabled] .btn-cursor-selected:active,
.btn-cursor-selected.disabled.active,
.btn-cursor-selected[disabled].active,
fieldset[disabled] .btn-cursor-selected.active {
    background-color: #BD1B30;
    border-color: #ffffff;
}

.btn-cursor-selected .badge {
    color: #BD1B30;
    background-color: #ffffff;
}


.btn-cursor-deselected {
    color: #000000;
    background-color: #FFFFFF;
    border-color: #000000;
}

.btn-cursor-deselected:hover,
.btn-cursor-deselected:focus,
.btn-cursor-deselected:active,
.btn-cursor-deselected.active,
.open .dropdown-toggle.btn-cursor-deselected {
    color: #000000;
    background-color: #BD1B30;
    border-color: #000000;
}

.btn-cursor-deselected:active,
.btn-cursor-deselected.active,
.open .dropdown-toggle.btn-cursor-deselected {
    background-image: none;
}

.btn-cursor-deselected.disabled,
.btn-cursor-deselected[disabled],
fieldset[disabled] .btn-cursor-deselected,
.btn-cursor-deselected.disabled:hover,
.btn-cursor-deselected[disabled]:hover,
fieldset[disabled] .btn-cursor-deselected:hover,
.btn-cursor-deselected.disabled:focus,
.btn-cursor-deselected[disabled]:focus,
fieldset[disabled] .btn-cursor-deselected:focus,
.btn-cursor-deselected.disabled:active,
.btn-cursor-deselected[disabled]:active,
fieldset[disabled] .btn-cursor-deselected:active,
.btn-cursor-deselected.disabled.active,
.btn-cursor-deselected[disabled].active,
fieldset[disabled] .btn-cursor-deselected.active {
    background-color: #FFFFFF;
    border-color: #000000;
}

.btn-cursor-deselected .badge {
    color: #FFFFFF;
    background-color: #000000;
}



