
$igv-default-font-face: 'Open Sans', sans-serif;

$igv-navbar-font-size: 12px;
$igv-navbar-height: 32px;
$igv-navbar-toggle-light-color: #f3f3f3;
$igv-navbar-toggle-dark-dark: #737373;
$igv-navbar-button-height: 18px;
$igv-navbar-button-width: 96px;
$igv-navbar-button-font-size: 11px;
$igv-navbar-button-border-radius: 6px;
$igv-button-width: 75px;
$igv-button-height: 28px;

$igv-button-border-radius: 2px;

$igv-button-ok-color: #5ea4e0;
$igv-button-ok-hover-color: #3b5c7f;

$igv-button-cancel-color: #c4c4c4;
$igv-button-cancel-hover-color: #7f7f7f;

$igv-border-color: #bfbfbf;

$igv-ideogram-height: 16px;

$igv-panel-border-width: 1px;
$igv-panel-border-color: #292929;

$igv-ruler-sweeper-color: rgba(68, 134, 247, 0.25);
$igv-ruler-blue-color: rgb(0, 102, 255);

$igv-light-grey-color: #bfbfbf;
$igv-grey-color: #7F7F7F;
$igv-dark-grey-color: #373737;

$igv-locus-search-height: $igv-navbar-height - 10px;

$igv-trackgear-grey-color: #7F7F7F;
$igv-trackgear-popover-border-radius: 4px;
$igv-trackgear-font-color: #4b4b4b;
$igv-trackgear-default-font-face: 'Open Sans', sans-serif;

$igv-scrollbar-outer-width: 14px;
$igv-scrollbar-inner-border-width: 1px;
$igv-scrollbar-inner-left: 2px;
$igv-scrollbar-inner-width: $igv-scrollbar-outer-width - 2 * ($igv-scrollbar-inner-left + $igv-scrollbar-inner-border-width);

$igv-left-hand-gutter-width: 0px;
//$igv-left-hand-gutter-width: 50px;
$igv-right-hand-gutter-width: 36px;

$igv-track-manipulation-handle-width: 12px;
$igv-track-manipulation-handle-margin-width: 0;
$igv-track-manipulation-handle-shim: $igv-track-manipulation-handle-width + $igv-track-manipulation-handle-margin-width;

$igv-viewport-container-shim-width: $igv-left-hand-gutter-width + $igv-right-hand-gutter-width + $igv-track-manipulation-handle-shim + $igv-scrollbar-outer-width;

$igv-multi-locus-gap-div-width: 1px;
$igv-multi-locus-gap-margin-width: 2px;

// browser.js - const multiLocusGapWidth
$igv-multi-locus-gap-width: 2 * ($igv-multi-locus-gap-margin-width) + $igv-multi-locus-gap-div-width;

@mixin generic-input {

  input {
    display: block;
    height: 100%;
    width: 100%;

    padding-left: 4px;

    font-family: $igv-default-font-face;
    font-weight: 400;
    color: $igv-dark-grey-color;
    text-align: left;

    outline: none;

    border-style: solid;
    border-width: thin;
    border-color: $igv-grey-color;

    background-color: white;
  }

}

@import "igv-generic-container";
@import "igv-generic-dialog-container";
@import "igv-menu-popup";
@import "igv-user-feedback";

.igv-root {

  position: relative;

  padding-top: 4px;

  margin-left: 10px;
  margin-right: 10px;

  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;

  .igv-navbar {

    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    color: #444;
    font-size: $igv-navbar-font-size;
    font-family: $igv-default-font-face;
    font-weight: 400;
    line-height: $igv-navbar-height;

    padding-left: 8px;
    padding-right: 8px;

    margin-top: 2px;
    margin-bottom: 4px;

    height: $igv-navbar-height;

    border-style: solid;
    border-radius: 3px;
    border-width: thin;
    border-color: $igv-border-color;
    background-color: $igv-navbar-toggle-light-color;

    .igv-navbar-left-container {

      display: flex;
      flex-flow: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;

      height: $igv-navbar-height;
      line-height: $igv-navbar-height;

      .igv-logo {
        width: 34px;
        height: $igv-navbar-height;
        margin-right: 8px;
      }

      .igv-current-genome {
        height: $igv-navbar-height;
        margin-left: 4px;
        margin-right: 4px;
        user-select: none;

        line-height: $igv-navbar-height;
        vertical-align: middle;
        text-align: center;
      }

      .igv-navbar-genomic-location {

        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        height: 100%;

        .igv-chromosome-select-widget-container {

          display: flex;
          flex-flow: column;
          flex-wrap: nowrap;
          justify-content: space-around;
          align-items: center;

          height: 100%;
          width: 125px;

          margin-right: 4px;

          select {

            display: block;

            cursor: pointer;

            width: 100px;
            height: 75%;

            outline: none;

            font-size: $igv-navbar-font-size;
            font-family: $igv-default-font-face;
            font-weight: 400;
          }

        }

        .igv-locus-size-group {
          display: flex;
          flex-flow: row;
          flex-wrap: nowrap;
          justify-content: space-between;
          align-items: center;

          margin-left: 8px;
          height: $igv-locus-search-height;

          // locus goto | search icon
          .igv-search-container {

            display: flex;
            flex-flow: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;

            width: 200px;
            height: $igv-locus-search-height;
            line-height: $igv-locus-search-height;

            // locus goto
            input.igv-search-input {
              cursor: text;

              width: 85%;

              height: $igv-locus-search-height;
              line-height: $igv-locus-search-height;

              font-size: $igv-navbar-font-size;
              font-family: $igv-default-font-face;
              font-weight: 400;
              text-align: left;

              padding-left: 8px;
              margin-right: 8px;

              outline: none;

              border-style: solid;
              border-radius: 3px;
              border-width: thin;
              border-color: $igv-border-color;

              background-color: white;
            }

            // search icon container
            .igv-search-icon-container {
              cursor: pointer;
              height: 16px;
              width: 16px;
            }

          }

          .igv-windowsize-panel-container {
            margin-left: 4px;
            user-select: none;
          }

        }

      }

    }

    .igv-navbar-right-container {

      display: flex;
      flex-flow: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;

      height: $igv-navbar-height;
      line-height: $igv-navbar-height;

      .igv-navbar-toggle-button-container {

        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        height: 100%;

        div {
          margin-left: 0;
          margin-right: 4px;
        }

        div:last-child {
          margin-left: 0;
          margin-right: 0;
        }

      }

      .igv-navbar-toggle-button-container-750 {
        display: none;
      }

      .igv-zoom-widget {

        color: $igv-navbar-toggle-dark-dark;

        font-size: 18px;

        height: $igv-navbar-height;
        line-height: $igv-navbar-height;

        margin-left: 8px;

        user-select: none;

        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;

        div {
          cursor: pointer;
          margin-left: unset;
          margin-right: unset;
        }

        div:first-child {
          height: 24px;
          width: 24px;
          margin-left: unset;
          margin-right: 8px;
        }

        div:last-child {
          height: 24px;
          width: 24px;
          margin-left: 8px;
          margin-right: unset;
        }

        div:nth-child(even) {
          display: block;
          height: fit-content;
        }

        input {
          display: block;
          width: 125px;
        }

        svg {
          display: block;
        }

      }

      .igv-zoom-widget-900 {

        color: $igv-navbar-toggle-dark-dark;

        font-size: 18px;

        height: $igv-navbar-height;
        line-height: $igv-navbar-height;

        margin-left: 8px;

        user-select: none;

        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;


        div {
          cursor: pointer;
          margin-left: unset;
          margin-right: unset;
        }

        // "-" zoom button
        div:first-child {
          height: 24px;
          width: 24px;
          margin-left: unset;
          margin-right: 8px;
        }

        // "+" zoom button
        div:last-child {
          height: 24px;
          width: 24px;
          margin-left: 8px;
          margin-right: unset;
        }

        // slider
        div:nth-child(even) {
          width: 0;
          height: 0;
          display: none;
        }

        input {
          width: 0;
          height: 0;
          display: none;
        }

        svg {
          display: block;
        }

      }

      .igv-zoom-widget-hidden {
        display: none;
      }
    }

  }

  .igv-ideogram-container {

    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    margin-top: 10px;

    height: 16px;
    width: 100%;

    .igv-ideogram-content {
      height: 100%;
      background-color: white;
    }

    .igv-ideogram-content:first-child {
      margin-left: $igv-left-hand-gutter-width;
    }

    .igv-ideogram-content-border-right {
      border-right-color: $igv-panel-border-color;
      border-right-style: solid;
      border-right-width: $igv-panel-border-width;
    }

  }

  .igv-track-container {
    position: relative;
    //user-select: none;
  }

}

.igv-multi-locus-separator {

  pointer-events: none;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  position: absolute;
  top: 0;
  bottom: 0;

  z-index: 2;

  //width: 2px;
  width: 1px;

  background-color: gray;

}

.igv-track-container-spinner {

  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1024;

  width: 24px;
  height: 24px;

  pointer-events:none;
  color: $igv-navbar-toggle-dark-dark;
}

.igv-track {
  position: relative;
  width: 100%;

  margin-top: 4px;

  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;

}

.igv-left-hand-gutter {
  width: $igv-left-hand-gutter-width;
  height: 100%;
}


.igv-right-hand-gutter {
  position: relative;

  width: 36px;
  height: 100%;

  background: white;
}

.igv-viewport-container {

  position: relative;

  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  //justify-content: space-between;
  justify-content: flex-start;
  align-items: stretch;

  width: calc(100% - #{$igv-viewport-container-shim-width});
  height: 100%;

  //overflow-x: hidden;
  //overflow-y: hidden;

  .igv-viewport {
    position: relative;

    height: 100%;

    overflow-x: hidden;
    overflow-y: hidden;

    background-color: white;
  }

  .igv-viewport-multi-locus-gap-shim {
    height: 100%;
    width: $igv-multi-locus-gap-div-width;
    margin-left: $igv-multi-locus-gap-margin-width;
    margin-right: $igv-multi-locus-gap-margin-width;
    background-color: transparent;
  }
}

.igv-viewport-content {
  position: relative;
  width: 100%;
  //background-color: deeppink;
}

.igv-canvas {
  position: relative;
  display: block;
}

.igv-mono-sample-canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8888;
}

.igv-scrollbar-shim {

  position: relative;

  width: $igv-scrollbar-outer-width;
  height: 100%;

  //background-color: deeppink;
  background-color: white;

}

.igv-scrollbar-outer-div {

  position: relative;

  width: $igv-scrollbar-outer-width;
  height: 100%;

  //background-color: salmon;
  background-color: white;

  >div {

    cursor: pointer;

    position:absolute;
    top: 0;
    left: $igv-scrollbar-inner-left;

    width: $igv-scrollbar-inner-width;

    border-width: $igv-scrollbar-inner-border-width;
    border-style: solid;

    //border-color: transparent;
    border-color: #c4c4c4;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    //background-color: chartreuse;
    background-color: transparent;
   }

  >div:hover {
    background-color: #c4c4c4;
  }

}

.igv-viewport-border-right {
  border-right-color: $igv-panel-border-color;
  border-right-style: solid;
  border-right-width: $igv-panel-border-width;
}

.igv-viewport-ruler {

  cursor: pointer;

  font-family: $igv-default-font-face;
  font-size: 10px;
  font-weight: 200;
  text-align: center;

  >div {
    height: 100%;
  }
}

.igv-track-manipulation-handle {
  position: relative;

  cursor: pointer;

  width: $igv-track-manipulation-handle-width;
  height: 100%;

  margin-left: $igv-track-manipulation-handle-margin-width;

  font-size: medium;

  border-color: #c4c4c4;
  border-style: solid;
  border-width: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;

  z-index: 512;

  background-color: #c4c4c4;
}

.igv-track-manipulation-handle:hover,
.igv-track-manipulation-handle:focus,
.igv-track-manipulation-handle:active {
  border-color: #7e7e7e;
  background-color: #7e7e7e;
}

// multi-locus panel border
.igv-multi-locus-panel-border {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 1px;

  background-color: green;

  border-right-color: #ff0000;
  border-right-style: solid;
  border-right-width: 1px;

}

// drag & drop file upload button
.igv-navbar-button {

  box-sizing: unset;

  padding-left: 6px;
  padding-right: 6px;

  height: $igv-navbar-button-height;
  text-transform: capitalize;

  user-select: none;

  line-height: $igv-navbar-button-height;

  text-align: center;
  vertical-align: middle;

  font-family: $igv-default-font-face;
  font-size: $igv-navbar-button-font-size;
  font-weight: 200;

  color: $igv-navbar-toggle-dark-dark;
  background-color: $igv-navbar-toggle-light-color;

  border-color: $igv-navbar-toggle-dark-dark;
  border-style: solid;
  border-width: thin;
  border-radius: $igv-navbar-button-border-radius;
}

.igv-navbar-button-clicked {
  color: white;
  background-color: $igv-navbar-toggle-dark-dark;
}

.igv-navbar-button:hover {
  cursor: pointer;
}

// TODO: figure out what to do with this
.igv-logo-nonav {
  margin-left: 4px;
  margin-top: 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 16px;
}

// TODO: figure out what to do with this
.igv-search-results {
  position: absolute;
  top: 32px;
  left: 2px;
  height: 320px;
  width: 213px;
  background-color: white;
  border-color: $igv-grey-color;
  border-style: solid;
  border-width: thin;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 9999;

  tr {
    font-family: $igv-default-font-face;
    font-size: small;
    font-weight: 400;
    color: #444;
  }

  tr:hover,
  tr:focus,
  tr:active  {
    cursor: pointer;
    font-weight: 700;
    color: #141414;
  }
}

.igv-viewport-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.15);
  font-family: $igv-default-font-face;
  font-size: 25px;
  font-weight: bold;
  user-select: none;
}

.igv-whole-genome-container {
  display:flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  width: 100%;
  height: 100%;

  background-color: white;

  div {

    font-family: $igv-default-font-face;
    font-size: 10px;
    font-weight: 400;
    color: #444;

    height: 100%;
    text-align: center;

    span {
      display: block;
      padding-top: 6px;
      text-overflow: ellipsis;
    }

    border-right-color: #bfbfbf;
    border-right-style: solid;
    border-right-width: thin;
  }

  div:last-child {
    border-right-color: transparent;
  }

  div:hover,
  div:focus,
  div:active  {
    cursor: pointer;
    background-color: #efefef;
  }

}

.igv-multi-locus-panel-close-container {
  position: absolute;
  top: 4px;
  right: 4px;

  width: 16px;
  height: 16px;

  color: #666666;

  z-index: 1000;

}

.igv-multi-locus-panel-close-container:hover {
  cursor: pointer;
  color: #434343;
}

.igv-multi-locus-panel-label-div {
  position: absolute;

  left:50%;
  top:15%;
  transform: translate(-50%, -25%);

  font-family: $igv-default-font-face;
  font-size: 12px;
  font-weight: 400;

  text-align: center;
  min-width: 16px;


  z-index:64;

  color: $igv-dark-grey-color;
  background-color: white;

  padding: 1px;
}

.igv-multi-locus-panel-label-div:hover {
  cursor: pointer;
}

.igv-viewport-spinner {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1024;

  width: 24px;
  height: 24px;

  pointer-events:none;
  color: $igv-navbar-toggle-dark-dark;
}

.igv-ruler-sweeper-div {

  display: none;

  pointer-events: none;

  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height:100%;

  z-index:99999;

  background-color: $igv-ruler-sweeper-color;
}

.igv-track-menu-border-top {
  border-top-color: #a2a2a2;
  border-top-style: solid;
  border-top-width: thin;
  //width: 100%;
}

.igv-track-menu-category {
  padding-left: 4px;
  font-weight: 400;
}

.igv-track-drag-scrim {

  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  z-index: 256;
  background-color: $igv-ruler-sweeper-color;

}

.igv-trackgear-container {
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 4px;
  color: $igv-trackgear-grey-color;
}

.igv-trackgear-container:hover {
  cursor: pointer;
  color: #444;
}

// track label
.igv-track-label {

  position: absolute;

  left: 8px;
  top: 8px;

  width: auto;
  height:auto;
  max-width: 200px;

  padding-left: 4px;
  padding-right: 4px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-family: $igv-default-font-face;
  font-size: small;
  font-weight: 400;

  text-align: center;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  border-color: #444;
  border-radius: 2px;
  border-style: solid;
  border-width: thin;

  background-color: white;

  z-index: 128;

  cursor: pointer;
}

.igv-track-label:hover,
.igv-track-label:focus,
.igv-track-label:active  {
  background-color: rgba(0, 0, 0, 0.05);
}

// zoom-in notice
.zoom-in-notice-container {
  position: absolute;
  top: 10px;
  left: 50%;

  div {
    position: relative;
    left: -50%;
    font-family: $igv-default-font-face;
    font-size: medium;
    font-weight: 400;
    color: #3f3f3f;
    background-color: rgba(255, 255, 255, 0.51);
    z-index: 64;
  }

}

.igv-center-guide {

  pointer-events:none;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 8px;

  z-index: 8;

  display: none;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  border-left-style: dashed;
  border-left-width: thin;
  border-right-style: dashed;
  border-right-width: thin;

}

.igv-center-guide-wide {
  background-color: rgba(0,0,0,0);
  border-left-color: rgba(127, 127, 127, 0.51);
  border-right-color: rgba(127, 127, 127, 0.51);
}

.igv-center-guide-thin {

  left: 50%;
  width: 1px;

  background-color: rgba(0,0,0,0);
  border-left-color: rgba(127, 127, 127, 0.51);
  border-right-color: rgba(0,0,0,0);

  /*background-color: rgba(127, 127, 127, 0.51);*/
  /*border-left-color: rgba(0,0,0,0);*/
  /*border-right-color: rgba(0,0,0,0);*/
}

.igv-cursor-tracking-guide {

  pointer-events: none;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  position: absolute;
  top: 0;
  bottom: 0;

  left: 50%;
  width: 1px;

  z-index: 1;

  border-left-style: dotted;
  border-left-width: thin;
  border-left-color: rgba(127, 127, 127, 0.76);

  display: none;

}

.igv-clickable {
  cursor: pointer;
  background-color: white;
}

#color-by-tag {
  color: #444;
}

#color-by-tag:hover,
#color-by-tag:focus,
#color-by-tag:active  {

  cursor: pointer;

  padding-left: 2px;
  padding-right: 2px;

  color: white;

  border-color: #444;
  border-radius: 2px;
  border-style: solid;
  border-width: thin;

  background-color: #7f7f7f;

}

.igv-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.igv-spinner-container {
  color: #3f3f3f;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 8px;
  font-size: 24px;
  z-index: 512;
}

.igv-fa-check-visible {
  color: inherit;
  padding-right: 2px;
}

.igv-fa-check-hidden {
  color: transparent;
  padding-right: 2px;
}

.validateTips {
  border: 1px solid transparent;
  padding: 0.3em;

  fieldset {
    border: 0;
  }
}

.igv-spacer-10 {
  height: 10px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

.igv-fa5-spin {
  -webkit-animation: igv-fa5-spin 2s infinite linear;
  animation: igv-fa5-spin 2s infinite linear; }

@-webkit-keyframes igv-fa5-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes igv-fa5-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
