
* {
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}

svg {
  max-width: 100% !important;
  height: auto !important;
}

$igv-default-font-face: 'Open Sans', sans-serif;

$igv-navbar-font-size: 12px;
$igv-navbar-height: 32px;
$igv-navbar-toggle-light-color: #f3f3f3;
$igv-navbar-toggle-dark-dark: #737373;
$igv-navbar-button-height: 18px;
$igv-navbar-button-width: 96px;
$igv-navbar-button-font-size: 11px;

$igv-button-width: 75px;
$igv-button-height: 28px;

$igv-button-border-radius: 2px;

$igv-button-ok-color: #5ea4e0;
$igv-button-ok-hover-color: #3b5c7f;

$igv-button-cancel-color: #c4c4c4;
$igv-button-cancel-hover-color: #7f7f7f;

$igv-border-color: #bfbfbf;

$igv-ideogram-height: 16px;

$igv-panel-border-width: 1px;
$igv-panel-border-color: #292929;

$igv-ruler-sweeper-color: rgba(68, 134, 247, 0.25);
$igv-ruler-blue-color: rgb(0, 102, 255);

$igv-light-grey-color: #bfbfbf;
$igv-grey-color: #7F7F7F;
$igv-dark-grey-color: #373737;

$igv-locus-search-height: calc(#{$igv-navbar-height} - 10px);

$igv-trackgear-grey-color: #7F7F7F;
$igv-trackgear-popover-border-radius: 4px;
$igv-trackgear-font-color: #4b4b4b;
$igv-trackgear-default-font-face: 'Open Sans', sans-serif;

@mixin generic-input {

  input {
    display: block;
    height: 100%;
    width: 100%;

    padding-left: 4px;

    font-family: $igv-default-font-face;
    font-weight: 400;
    color: $igv-dark-grey-color;
    text-align: left;

    outline: none;

    border-style: solid;
    border-width: thin;
    border-color: $igv-grey-color;

    background-color: white;
  }

}

@import "igv-user-feedback";
@import "igv-colorpicker";
@import "igv-alert-dialog";
@import "igv-generic-container";
@import "igv-generic-dialog-container";
@import "igv-popover";
@import "igv-trackgear-popup";

.igvControlDiv {
  position: relative;
}

.igv-content-header {

  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  margin-top: 10px;

  height: 16px;
  width: 100%;

  .igv-ideogram-shim {
    height: 100%;
    width: 50px;
    background-color: white;
  }

  .igv-ideogram-content {
    height: 100%;
      background-color: white;
  }

  .igv-ideogram-content-border-right {
    border-right-color: $igv-panel-border-color;
    border-right-style: solid;
    border-right-width: $igv-panel-border-width;
  }

}

// multi-locus panel border
.igv-multi-locus-panel-border {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 1px;

  background-color: green;

  border-right-color: #ff0000;
  border-right-style: solid;
  border-right-width: 1px;

}

// nav bar
.igv-navbar {

  position: relative;
  top: 0;
  left: 0;

  padding-left: 8px;
  padding-right: 8px;

  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  color: #444;
  font-size: $igv-navbar-font-size;
  font-family: $igv-default-font-face;
  font-weight: 400;
  line-height: $igv-navbar-height;

  margin-top: 2px;
  margin-bottom: 4px;

  height: $igv-navbar-height;
  width: 100%;

  border-style: solid;
  border-radius: 3px;
  border-width: thin;

  border-color: $igv-border-color;
  background-color: $igv-navbar-toggle-light-color;
}

.igv-nav-bar-left-container {

  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  height: $igv-navbar-height;
  line-height: $igv-navbar-height;

  // igv logo
  .igv-logo {
    width: 34px;
    height: $igv-navbar-height;
    margin-top:6px;
    //margin-left: 8px;
    margin-right: 8px;
  }

  .igv-current-genome {
    height: $igv-navbar-height;
    width: 40px;
    margin-left: 4px;
    margin-right: 4px;
    user-select: none;

    line-height: $igv-navbar-height;
    vertical-align: middle;
    text-align: center;
  }

}

// chromosome select widget | chromosome select widget | locus goto | search icon | window size
.igv-nav-bar-genomic-location {

  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  height: 100%;

}

.igv-chromosome-select-widget-container {

  height: 100%;
  width: 125px;

  margin-right: 4px;

  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;

  select {

    display: block;

    cursor: pointer;

    width: 100px;
    height: 75%;

    outline: none;

    font-size: $igv-navbar-font-size;
    font-family: $igv-default-font-face;
    font-weight: 400;
  }

}

.igv-locus-size-group {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  margin-left: 8px;
  height: $igv-locus-search-height;

  // locus goto | search icon
  .igv-search-container {
    width: 200px;
    height: $igv-locus-search-height;
    line-height: $igv-locus-search-height;

    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    // locus goto
    input {
      cursor: text;

      width: 85%;

      height: $igv-locus-search-height;
      line-height: $igv-locus-search-height;

      font-size: $igv-navbar-font-size;
      font-family: $igv-default-font-face;
      font-weight: 400;
      text-align: left;

      padding-left: 8px;
      margin-right: 8px;

      outline: none;

      border-style: solid;
      border-radius: 3px;
      border-width: thin;
      border-color: $igv-border-color;

      background-color: white;
    }

    // search icon container
    div {
      cursor: pointer;
      height: 16px;
      width: 16px;
    }

  }

  .igv-windowsizepanel-content-div {
    margin-left: 4px;
    user-select: none;
  }

}

.igv-nav-bar-right-container {

  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  height: $igv-navbar-height;
  line-height: $igv-navbar-height;

  .igv-nav-bar-toggle-button-container {

    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    height: 100%;

    div {
      margin-left: 0;
      margin-right: 4px;
    }

    div:last-child {
      margin-left: 0;
      margin-right: 0;
    }

  }

  .igv-nav-bar-toggle-button-container-750 {
    display: none;
  }

  .igv-zoom-widget {

    color: $igv-navbar-toggle-dark-dark;

    font-size: 18px;

    //width: 190px;
    height: $igv-navbar-height;
    line-height: $igv-navbar-height;

    margin-left: 8px;
    //margin-right: 8px;

    user-select: none;

    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;

    div {
      cursor: pointer;
      margin-left: unset;
      margin-right: unset;
    }

    div:first-child {
      height: 24px;
      width: 24px;
      margin-left: unset;
      margin-right: 8px;
    }

    div:last-child {
      height: 24px;
      width: 24px;
      margin-left: 8px;
      margin-right: unset;
    }

    div:nth-child(even) {
      display: block;
      height: fit-content;
    }

    input {
      display: block;
      width: 125px;
    }

    svg {
      display: block;
    }

  }

  .igv-zoom-widget-900 {

    color: $igv-navbar-toggle-dark-dark;

    font-size: 18px;

    //width: 190px;
    height: $igv-navbar-height;
    line-height: $igv-navbar-height;

    margin-left: 8px;
    //margin-right: 8px;

    user-select: none;

    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;


    div {
      cursor: pointer;
      margin-left: unset;
      margin-right: unset;
    }

    // "-" zoom button
    div:first-child {
      height: 24px;
      width: 24px;
      margin-left: unset;
      margin-right: 8px;
    }

    // "+" zoom button
    div:last-child {
      height: 24px;
      width: 24px;
      margin-left: 8px;
      margin-right: unset;
    }

    // slider
    div:nth-child(even) {
      width: 0;
      height: 0;
      display: none;
    }

    input {
      width: 0;
      height: 0;
      display: none;
    }

    svg {
      display: block;
    }

  }

  .igv-zoom-widget-hidden {
    display: none;
  }
}

// drag & drop file upload button
.igv-nav-bar-button {
  height: $igv-navbar-button-height;
  min-width: $igv-navbar-button-width;
  text-transform: capitalize;

  user-select: none;

  line-height: $igv-navbar-button-height;
  text-align: center;
  font-family: $igv-default-font-face;
  font-size: $igv-navbar-button-font-size;
  font-weight: 200;

  color: $igv-navbar-toggle-dark-dark;
  background-color: $igv-navbar-toggle-light-color;

  border-color: $igv-navbar-toggle-dark-dark;
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
}

.igv-nav-bar-button-clicked {
  color: white;
  background-color: $igv-navbar-toggle-dark-dark;
}

.igv-nav-bar-button:hover {
  cursor: pointer;
}

// TODO: figure out what to do with this
.igv-logo-nonav {
  margin-left: 4px;
  margin-top: 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 16px;
}

// TODO: figure out what to do with this
.igv-search-results {
  position: absolute;
  top: 32px;
  left: 2px;
  height: 320px;
  width: 213px;
  background-color: white;
  border-color: $igv-grey-color;
  border-style: solid;
  border-width: thin;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 9999;

  tr {
    font-family: $igv-default-font-face;
    font-size: small;
    font-weight: 400;
    color: #444;
  }

  tr:hover,
  tr:focus,
  tr:active  {
    cursor: pointer;
    font-weight: 700;
    color: #141414;
  }

}

// root container
.igv-root-div {

  position: relative;

  left: 0;
  right: 0;

  height: auto;

  margin-left: 10px;
  margin-right: 10px;

  padding-top:4px;
}

.igv-content-div {
  position: relative;
  width: 100%;
  height:100%;
}

.igv-track-container-div {
  user-select: none;
  position: relative;
  clear: both;
}

.igv-track-div {
  position: relative;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.igv-viewport-container {
  position: absolute;
  left:  50px;
  right: 50px;
  height: 100%;

  white-space: nowrap;

  overflow-x: hidden;
  overflow-y: hidden;

}

.igv-viewport-div {
  position: relative;

  //float: left;
  display: inline-block;

  height: 100%;

  overflow-x: hidden;
  overflow-y: hidden;
}

.igv-viewport-content-div {
  position: absolute;
  width: 100%;
}

.igv-viewport-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.15);
  font-family: $igv-default-font-face;
  font-size: 25px;
  font-weight: bold;
  user-select: none;
}

.igv-whole-genome-container {
  display:flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  width: 100%;
  height: 100%;

  background-color: white;

  div {

    font-family: $igv-default-font-face;
    font-size: 10px;
    font-weight: 400;
    color: #444;

    height: 100%;
    text-align: center;

    span {
      display: block;
      padding-top: 6px;
      text-overflow: ellipsis;
    }

    border-right-color: #bfbfbf;
    border-right-style: solid;
    border-right-width: thin;
  }

  div:last-child {
    border-right-color: transparent;
  }

  div:hover,
  div:focus,
  div:active  {
    cursor: pointer;
    background-color: #efefef;
  }

}

.igv-viewport-div-border-right {
  border-right-color: $igv-panel-border-color;
  //border-right-color: #00ff00;
  border-right-style: solid;
  border-right-width: $igv-panel-border-width;
}

.igv-multi-locus-panel-close-container {
  position: absolute;
  top: 4px;
  right: 4px;

  width: 16px;
  height: 16px;

  color: #666666;

  z-index: 1000;

}

.igv-multi-locus-panel-close-container:hover {
  cursor: pointer;
  color: #434343;
}

.igv-multi-locus-panel-label-div {
  position: absolute;

  left:50%;
  top:25%;
  transform: translate(-50%, -25%);

  font-family: $igv-default-font-face;
  font-size: 12px;
  font-weight: 400;

  text-align: center;
  min-width: 16px;


  z-index:64;

  color: $igv-dark-grey-color;
  background-color: white;

  padding: 1px;
}

.igv-multi-locus-panel-label-div:hover {
  cursor: pointer;
  //color: white;
  //background-color: $igv-ruler-blue-color;
}

.igv-viewport-ruler {

  cursor: pointer;

  font-family: $igv-default-font-face;
  font-size: 10px;
  font-weight: 200;
  text-align: center;

  >div {
    height: 100%;
  }
}

.igv-viewport-sequence {
  font-family: $igv-default-font-face;
  font-size: 8px;
  font-weight: 200;
  text-align: center;
}

.igv-viewport-spinner {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1024;

  width: 24px;
  height: 24px;

  pointer-events:none;
  color: $igv-navbar-toggle-dark-dark;
}

.igv-ruler-sweeper-div {

  display: none;

  pointer-events: none;

  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height:100%;

  z-index:99999;

  background-color: $igv-ruler-sweeper-color;
}

.igv-right-hand-gutter {
  position: absolute;
  right: 0;
  width: 36px;
  height: 100%;

  background: white;
  //text-align: center;

}

// left hand gutter
.igv-left-hand-gutter {
  position: absolute;
  left: 0;
  width: 50px;
  height: 100%;

  canvas {
    position: absolute;
  }

}

.igv-track-menu-border-top {
  border-top-color: #a2a2a2;
  border-top-style: solid;
  border-top-width: thin;
  //width: 100%;
}

.igv-track-menu-category {
  padding-left: 4px;
  font-weight: 400;
}

.igv-track-drag-scrim {

  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  z-index: 256;
  background-color: $igv-ruler-sweeper-color;

}

.igv-track-manipulation-handle {

  cursor: pointer;

  position: absolute;
  right: 36px;
  width: 12px;

  margin-left: 2px;

  height: 100%;

  box-sizing: border-box;

  font-size: medium;

  border-color: #c4c4c4;
  border-style: solid;
  border-width: thin;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;

  z-index: 512;

  background-color: #c4c4c4;

}

.igv-track-manipulation-handle:hover,
.igv-track-manipulation-handle:focus,
.igv-track-manipulation-handle:active {

  border-color: #7e7e7e;
  background-color: #7e7e7e;

}

// track label
.igv-track-label {

  position: absolute;

  left: 8px;
  top: 4px;

  width: auto;
  height:auto;
  max-width: 200px;

  padding-left: 4px;
  padding-right: 4px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-family: $igv-default-font-face;
  font-size: small;
  font-weight: 400;

  text-align: center;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  border-color: #444;
  border-radius: 2px;
  border-style: solid;
  border-width: thin;

  background-color: white;

  z-index: 128;

  cursor: pointer;
}

.igv-track-label:hover,
.igv-track-label:focus,
.igv-track-label:active  {
  background-color: rgba(0, 0, 0, 0.05);
}

// scrollbar
.igv-scrollbar-outer-div {
  position: absolute;
  top: 0;
  right: 0;
  width: 14px;
  height: 100%;
  background-color: white;

  div {
    position:absolute;
    top: 0;
    left: 3px;
    width:8px;

    border-style: solid;
    border-width: thin;
    border-color: #c4c4c4;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    background-color: white;
  }

  div:hover,
  div:focus,
  div:active {
    cursor: pointer;
    background-color: #c4c4c4;
  }

}

// zoom-in notice
.zoom-in-notice-container {
  position: absolute;
  top: 10px;
  left: 50%;

  div {
    position: relative;
    left: -50%;
    font-family: $igv-default-font-face;
    font-size: medium;
    font-weight: 400;
    color: #3f3f3f;
    background-color: rgba(255, 255, 255, 0.51);
    z-index: 64;
  }

}

.igv-center-guide {

  pointer-events:none;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 8px;

  z-index: 8;

  display: none;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  border-left-style: dashed;
  border-left-width: thin;
  border-right-style: dashed;
  border-right-width: thin;

}

.igv-center-guide-wide {
  background-color: rgba(0,0,0,0);
  border-left-color: rgba(127, 127, 127, 0.51);
  border-right-color: rgba(127, 127, 127, 0.51);
}

.igv-center-guide-thin {

  left: 50%;
  width: 1px;

  background-color: rgba(0,0,0,0);
  border-left-color: rgba(127, 127, 127, 0.51);
  border-right-color: rgba(0,0,0,0);

  /*background-color: rgba(127, 127, 127, 0.51);*/
  /*border-left-color: rgba(0,0,0,0);*/
  /*border-right-color: rgba(0,0,0,0);*/
}

.igv-cursor-tracking-guide {
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;

  z-index: 1;

  border-left-style: dotted;
  border-left-width: thin;
  border-left-color: rgba(127, 127, 127, 0.76);

  display: none;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.igv-clickable {
  cursor: pointer;
  background-color: white;
}

#color-by-tag {
  color: #444;
}

#color-by-tag:hover,
#color-by-tag:focus,
#color-by-tag:active  {

  cursor: pointer;

  padding-left: 2px;
  padding-right: 2px;

  color: white;

  border-color: #444;
  border-radius: 2px;
  border-style: solid;
  border-width: thin;

  background-color: #7f7f7f;

}

.igv-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.igv-spinner-container {
  color: #3f3f3f;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 8px;
  font-size: 24px;
  z-index: 512;
}

.igv-fa-check-visible {
  color: inherit;
  padding-right: 2px;
}

.igv-fa-check-hidden {
  color: transparent;
  padding-right: 2px;
}

.validateTips {
  border: 1px solid transparent;
  padding: 0.3em;

  fieldset {
    border: 0;
  }
}

.igv-spacer-10 {
  height: 10px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}
