.igv-spinner-fontawesome-start {

    position: absolute;
    left:50%;
    top:50%;
    z-index: 256;
    display: inline;
}

.igv-spinner-fontawesome-stop {
    position: relative;
    left:50%;
    top:50%;
    z-index: -256;
    display: none;
}

.igv-root-div {

    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    padding-top:50px;
    left: 0;
    right: 0;
    height: auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    -webkit-touch-callout: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.igv-karyo-div {
    position: relative;
    left: 0;
    top: 0;
    height:200px;
}

.igv-karyo-content-div {
    left:0;
    top:0;
    width:100%;
    height:100%;
}

.igv-karyo-canvas {
    left:0;
    top:0;
    width:100%;
    height:100%;
}

.igv-header-div {
    position: relative;
    left: 0;
    right: 0;
}

.igv-ideogram-div {
    height: 40px;
    width : 100%;
}

.igv-ideogram-content-div {
    position:absolute;
    left:50px;
    right: 0px;
    height: 100%;
}

.igv-ideogram-canvas {
    left:0;
    top:0;
    width:100%;
    height:100%;
}

.igv-ideogram-chr-div {
    position:absolute;
    height:100%;
    left:0px;
    width:50px;
    font-size: small;
}

.igv-track-container-div {
    position: relative;
    left: 0;
    right: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    /*font-size: medium;*/
    height: auto;
    overflow: hidden;
}

.igv-track-div {
    position: relative;
    width: 100%;
    overflow:hidden;
    margin-bottom:10px;
}

.igv-track-manipulation-container {
    position: absolute;
    right: 0;
    width: 48px;
    height: 100%;

    border-left-color: #444;
    border-left-style: solid;
    border-left-width: thin;

    background: white;
    text-align: center;
}

.igv-track-manipulation-icon-box {

    margin: auto;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    width: 100%;
    height: 30px;

    background: white;

}

.igv-track-manipulation-move-up {
    position: absolute;
    left: 4px;
    top: 0;
    color: rgba(51, 153, 204, 1);
}

.igv-track-manipulation-move-down {
    position: absolute;
    left: 4px;
    bottom: 0;
    color: rgba(51, 153, 204, 1);
}

.igv-track-manipulation-discard {
    position: absolute;
    left: 20px;
    top: 0;
    color: rgba(153, 0, 0, 1);
    background-color: white;
}

.igv-fontawesome-vertical-center-shim {
    vertical-align: middle;
}

.igv-track-icon-container {
    position: absolute;
    left: 0;
    top: 4px;
    width: auto;
    height:auto;

    background: rgba(255, 255, 255, 0.75);

    display: inline-block;
}

.igv-track-label-span-base {
    margin-left: 2px;
    margin-right: 2px;
    position: relative;
    cursor: pointer;
}

.igv-track-label-span-highlighted {
    font-weight: bold;
    color: rgba(204, 51, 0, 1);
}

.igv-track-label {
    position: absolute;
    top: 10px;
    left: 96px;
    cursor: pointer;
}

.igv-track-disable-button-fontawesome {
    position: absolute;
    top: 8px;
    right: 12px;
    cursor: pointer;
    color: #222;
}

.igv-control-div {
    position: absolute;
    left: 0;
    height: 100%;
    border-color: #444;
    border-style: solid;
    border-width: thin;

}

.igv-control-sort-fontawesome {

    position: relative;
    cursor: pointer;
    color: grey;

    float: left;
    margin-left: 2px;
    margin-right: 2px;
}

.igv-control-sort-fontawesome-selected {

    position: relative;
    cursor: pointer;
    color: rgba(204, 51, 0, 1);

    float: left;
    margin-left: 2px;
    margin-right: 2px;
}

.igv-viewport-div {
    position: absolute;
    left:  50px;
    right: 48px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.igv-content-div {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    left: 0;
    right: 0;
}

.igv-popover {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    /*height: 240px;*/
    z-index: 1000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    border: 2px solid #444;
    background: #fff;
    border-radius: 2%;
    -moz-border-radius: 2%;
    -webkit-border-radius: 2%;
    display: none;
}

.igv-popoverContent {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 25px;
    /*bottom: 5px;*/
    background: #fff;
    /*background: rgba(0, 255, 0, .5);*/
    /*display: block;*/
}

.igv-popoverPointer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5000;
}

.igv-popoverContent .igv-popoverNameSpan {
    font-weight: bold;
    /*background: #0f0;*/
}

.igv-popoverContent .igv-popoverValueSpan {
    word-break: break-all;
    /*background: #f00;*/
}

.igv-popoverContent .popoverContentSpan {
    font-weight: bold;
}

.igv-popoverCloseElement {
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
}

.igv-popoverCloseFontAwesome {
    position: absolute;
    top: 0;
    right: 0;
    color: #888;
}

.igv-popoverClose {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 15px;
    height: 15px;
    font-size: 10pt;
    color: #444;
    border: 2px solid #fff;
    background-color: #fff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    /*padding: 1px 3px 2px 3px;*/
    text-align: center;
}

.igv-popoverClose:hover {
    color: #fff;
    border: 2px solid #e00;
    background-color: #e00;
}

.spacer5 {
    height: 5px;
    width: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

.spacer10 {
    height: 10px;
    width: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

.spacer15 {
    height: 15px;
    width: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

.spacer20 {
    height: 20px;
    width: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

.spacer25 {
    height: 25px;
    width: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

.spacer30 {
    height: 30px;
    width: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

.spacer35 {
    height: 35px;
    width: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

.spacer40 {
    height: 40px;
    width: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

.spacer45 {
    height: 45px;
    width: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

.spacer50 {
    height: 50px;
    width: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

.spacer100 {
    height: 100px;
    width: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

.spacer200 {
    height: 200px;
    width: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

#dropdown-list {
    max-height: 200px;
    overflow: auto;
    top: 15px;
    position: relative;
    left: 50px;
}

/* Some experimental classes,  */
.cursor-btn-default {
    color: #333;
    background-color: #fff;
    border-color: #357ebd;
}

.cursor-btn-default:hover,
.cursor-btn-default:focus,
.cursor-btn-default:active,
.cursor-btn-default.active,
.open .dropdown-toggle.btn-default {
    color: #333;
    background-color: #ebebeb;
    border-color: #357ebd;
}

/*.cursor-btn-selected {*/
/*color: #333;*/
/*background-color: #ebebeb;*/
/*border-color: #357ebd;*/
/*}*/

.btn-cursor-selected {
    color: #ffffff;
    background-color: #E6E8EB;
    border-color: #ffffff;
}

.btn-cursor-selected:hover,
.btn-cursor-selected:focus,
.btn-cursor-selected:active,
.btn-cursor-selected.active,
.open .dropdown-toggle.btn-cursor-selected {
    color: #ffffff;
    background-color: #E6E8EB;
    border-color: #ffffff;
}

.btn-cursor-selected:active,
.btn-cursor-selected.active,
.open .dropdown-toggle.btn-cursor-selected {
    background-image: none;
}

.btn-cursor-selected.disabled,
.btn-cursor-selected[disabled],
fieldset[disabled] .btn-cursor-selected,
.btn-cursor-selected.disabled:hover,
.btn-cursor-selected[disabled]:hover,
fieldset[disabled] .btn-cursor-selected:hover,
.btn-cursor-selected.disabled:focus,
.btn-cursor-selected[disabled]:focus,
fieldset[disabled] .btn-cursor-selected:focus,
.btn-cursor-selected.disabled:active,
.btn-cursor-selected[disabled]:active,
fieldset[disabled] .btn-cursor-selected:active,
.btn-cursor-selected.disabled.active,
.btn-cursor-selected[disabled].active,
fieldset[disabled] .btn-cursor-selected.active {
    background-color: #E6E8EB;
    border-color: #ffffff;
}

.btn-cursor-selected .badge {
    color: #E6E8EB;
    background-color: #ffffff;
}

.btn-cursor-deselected {
    color: #000000;
    background-color: #FFFFFF;
}

.btn-cursor-deselected:hover,
.btn-cursor-deselected:focus,
.btn-cursor-deselected:active,
.btn-cursor-deselected.active,
.open .dropdown-toggle.btn-cursor-deselected {
    color: #000000;
    background-color: #E6E8EB;
    border-color: #000000;
}

.btn-cursor-deselected:active,
.btn-cursor-deselected.active,
.open .dropdown-toggle.btn-cursor-deselected {
    background-image: none;
}

.btn-cursor-deselected.disabled,
.btn-cursor-deselected[disabled],
fieldset[disabled] .btn-cursor-deselected,
.btn-cursor-deselected.disabled:hover,
.btn-cursor-deselected[disabled]:hover,
fieldset[disabled] .btn-cursor-deselected:hover,
.btn-cursor-deselected.disabled:focus,
.btn-cursor-deselected[disabled]:focus,
fieldset[disabled] .btn-cursor-deselected:focus,
.btn-cursor-deselected.disabled:active,
.btn-cursor-deselected[disabled]:active,
fieldset[disabled] .btn-cursor-deselected:active,
.btn-cursor-deselected.disabled.active,
.btn-cursor-deselected[disabled].active,
fieldset[disabled] .btn-cursor-deselected.active {
    background-color: #FFFFFF;
    border-color: #000000;
}

.btn-cursor-deselected .badge {
    color: #FFFFFF;
    background-color: #000000;
}




