.igv-generic-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2048;
  background-color: white;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center; }
  .igv-generic-container div:first-child {
    cursor: move;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    height: 24px;
    width: 100%;
    background-color: #dddddd; }
    .igv-generic-container div:first-child i {
      display: block;
      color: #5f5f5f;
      cursor: pointer;
      width: 14px;
      height: 14px;
      margin-right: 8px;
      margin-bottom: 4px; }

.igv-generic-dialog-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 200px;
  border-color: #7F7F7F;
  border-radius: 4px;
  border-style: solid;
  border-width: thin;
  font-family: "Open Sans", sans-serif;
  font-size: medium;
  font-weight: 400;
  z-index: 2048;
  background-color: white;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center; }
  .igv-generic-dialog-container .igv-generic-dialog-header {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 24px;
    cursor: move;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-color: #7F7F7F;
    border-bottom-style: solid;
    border-bottom-width: thin;
    background-color: #eee; }
    .igv-generic-dialog-container .igv-generic-dialog-header div {
      margin-right: 4px;
      margin-bottom: 2px;
      height: 12px;
      width: 12px;
      color: #7F7F7F; }
    .igv-generic-dialog-container .igv-generic-dialog-header div:hover {
      cursor: pointer;
      color: #444; }
  .igv-generic-dialog-container .igv-generic-dialog-one-liner {
    color: #373737;
    width: 95%;
    height: 24px;
    line-height: 24px;
    text-align: left;
    margin-top: 8px;
    padding-left: 8px;
    overflow-wrap: break-word;
    background-color: white; }
  .igv-generic-dialog-container .igv-generic-dialog-label-input {
    margin-top: 8px;
    width: 95%;
    height: 24px;
    color: #373737;
    line-height: 24px;
    padding-left: 8px;
    background-color: white;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center; }
    .igv-generic-dialog-container .igv-generic-dialog-label-input div {
      width: 30%;
      height: 100%;
      font-size: 16px;
      text-align: right;
      padding-right: 8px;
      background-color: white; }
    .igv-generic-dialog-container .igv-generic-dialog-label-input input {
      display: block;
      height: 100%;
      width: 100%;
      padding-left: 4px;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      color: #373737;
      text-align: left;
      outline: none;
      border-style: solid;
      border-width: thin;
      border-color: #7F7F7F;
      background-color: white; }
    .igv-generic-dialog-container .igv-generic-dialog-label-input input {
      width: 50%;
      font-size: 16px; }
  .igv-generic-dialog-container .igv-generic-dialog-input {
    margin-top: 8px;
    width: calc(100% - 16px);
    height: 24px;
    color: #373737;
    line-height: 24px;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center; }
    .igv-generic-dialog-container .igv-generic-dialog-input input {
      display: block;
      height: 100%;
      width: 100%;
      padding-left: 4px;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      color: #373737;
      text-align: left;
      outline: none;
      border-style: solid;
      border-width: thin;
      border-color: #7F7F7F;
      background-color: white; }
    .igv-generic-dialog-container .igv-generic-dialog-input input {
      font-size: 16px; }
  .igv-generic-dialog-container .igv-generic-dialog-ok-cancel {
    width: 100%;
    height: 28px;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center; }
    .igv-generic-dialog-container .igv-generic-dialog-ok-cancel div {
      margin-top: 32px;
      color: white;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 400;
      width: 75px;
      height: 28px;
      line-height: 28px;
      text-align: center;
      border-color: transparent;
      border-style: solid;
      border-width: thin;
      border-radius: 2px; }
    .igv-generic-dialog-container .igv-generic-dialog-ok-cancel div:first-child {
      margin-left: 32px;
      margin-right: 0;
      background-color: #5ea4e0; }
    .igv-generic-dialog-container .igv-generic-dialog-ok-cancel div:last-child {
      margin-left: 0;
      margin-right: 32px;
      background-color: #c4c4c4; }
    .igv-generic-dialog-container .igv-generic-dialog-ok-cancel div:first-child:hover {
      cursor: pointer;
      background-color: #3b5c7f; }
    .igv-generic-dialog-container .igv-generic-dialog-ok-cancel div:last-child:hover {
      cursor: pointer;
      background-color: #7f7f7f; }
  .igv-generic-dialog-container .igv-generic-dialog-ok {
    width: 100%;
    height: 36px;
    margin-top: 32px;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center; }
    .igv-generic-dialog-container .igv-generic-dialog-ok div {
      width: 98px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      color: white;
      font-family: "Open Sans", sans-serif;
      font-size: medium;
      font-weight: 400;
      border-color: white;
      border-style: solid;
      border-width: thin;
      border-radius: 4px;
      background-color: #2B81AF; }
    .igv-generic-dialog-container .igv-generic-dialog-ok div:hover {
      cursor: pointer;
      background-color: #25597f; }

.igv-menu-popup {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 132px;
  z-index: 4096;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: small;
  font-weight: 400;
  color: #4b4b4b;
  background: white;
  border-radius: 4px;
  border-color: #7F7F7F;
  border-style: solid;
  border-width: thin;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  text-align: left; }
  .igv-menu-popup > div:not(:first-child) {
    width: 100%; }
    .igv-menu-popup > div:not(:first-child) > div {
      background: white; }
    .igv-menu-popup > div:not(:first-child) > div.context-menu {
      padding-left: 4px;
      padding-right: 4px; }
    .igv-menu-popup > div:not(:first-child) > div:last-child {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-bottom-color: transparent;
      border-bottom-style: solid;
      border-bottom-width: thin; }
    .igv-menu-popup > div:not(:first-child) > div:hover {
      background: #efefef; }

.igv-menu-popup-shim {
  padding-left: 8px;
  padding-right: 8px; }

.igv-menu-popup-header {
  position: relative;
  width: 100%;
  height: 24px;
  cursor: move;
  border-top-color: transparent;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-color: #7F7F7F;
  border-bottom-style: solid;
  border-bottom-width: thin;
  background-color: #eee;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center; }
  .igv-menu-popup-header div {
    margin-right: 4px;
    height: 12px;
    width: 12px;
    color: #7F7F7F; }
  .igv-menu-popup-header div:hover {
    cursor: pointer;
    color: #444; }

.igv-menu-popup-check-container {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 20px;
  background-color: transparent; }
  .igv-menu-popup-check-container div {
    padding-top: 2px;
    padding-left: 8px; }
  .igv-menu-popup-check-container div:first-child {
    position: relative;
    width: 12px;
    height: 12px; }
    .igv-menu-popup-check-container div:first-child svg {
      position: absolute;
      width: 12px;
      height: 12px; }

.igv-user-feedback {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 512px;
  height: 360px;
  z-index: 2048;
  background-color: white;
  border-color: #a2a2a2;
  border-style: solid;
  border-width: thin;
  font-family: "Open Sans", sans-serif;
  font-size: medium;
  font-weight: 400;
  color: #444;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center; }
  .igv-user-feedback div:first-child {
    position: relative;
    height: 24px;
    width: 100%;
    background-color: white;
    border-bottom-color: #a2a2a2;
    border-bottom-style: solid;
    border-bottom-width: thin; }
    .igv-user-feedback div:first-child div {
      position: absolute;
      top: 2px;
      width: 16px;
      height: 16px;
      background-color: transparent; }
    .igv-user-feedback div:first-child div:first-child {
      left: 8px; }
    .igv-user-feedback div:first-child div:last-child {
      cursor: pointer;
      right: 8px; }
  .igv-user-feedback div:last-child {
    width: 100%;
    height: calc(100% - 24px);
    border-width: 0; }
    .igv-user-feedback div:last-child div {
      width: auto;
      height: auto;
      margin: 8px; }

.igv-root {
  position: relative;
  padding-top: 4px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch; }
  .igv-root .igv-navbar {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    color: #444;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 32px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 2px;
    margin-bottom: 4px;
    height: 32px;
    border-style: solid;
    border-radius: 3px;
    border-width: thin;
    border-color: #bfbfbf;
    background-color: #f3f3f3; }
    .igv-root .igv-navbar .igv-navbar-left-container {
      display: flex;
      flex-flow: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      height: 32px;
      line-height: 32px; }
      .igv-root .igv-navbar .igv-navbar-left-container .igv-logo {
        width: 34px;
        height: 32px;
        margin-right: 8px; }
      .igv-root .igv-navbar .igv-navbar-left-container .igv-current-genome {
        height: 32px;
        margin-left: 4px;
        margin-right: 4px;
        user-select: none;
        line-height: 32px;
        vertical-align: middle;
        text-align: center; }
      .igv-root .igv-navbar .igv-navbar-left-container .igv-navbar-genomic-location {
        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        height: 100%; }
        .igv-root .igv-navbar .igv-navbar-left-container .igv-navbar-genomic-location .igv-chromosome-select-widget-container {
          display: flex;
          flex-flow: column;
          flex-wrap: nowrap;
          justify-content: space-around;
          align-items: center;
          height: 100%;
          width: 125px;
          margin-right: 4px; }
          .igv-root .igv-navbar .igv-navbar-left-container .igv-navbar-genomic-location .igv-chromosome-select-widget-container select {
            display: block;
            cursor: pointer;
            width: 100px;
            height: 75%;
            outline: none;
            font-size: 12px;
            font-family: "Open Sans", sans-serif;
            font-weight: 400; }
        .igv-root .igv-navbar .igv-navbar-left-container .igv-navbar-genomic-location .igv-locus-size-group {
          display: flex;
          flex-flow: row;
          flex-wrap: nowrap;
          justify-content: space-between;
          align-items: center;
          margin-left: 8px;
          height: 22px; }
          .igv-root .igv-navbar .igv-navbar-left-container .igv-navbar-genomic-location .igv-locus-size-group .igv-search-container {
            display: flex;
            flex-flow: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            width: 200px;
            height: 22px;
            line-height: 22px; }
            .igv-root .igv-navbar .igv-navbar-left-container .igv-navbar-genomic-location .igv-locus-size-group .igv-search-container input.igv-search-input {
              cursor: text;
              width: 85%;
              height: 22px;
              line-height: 22px;
              font-size: 12px;
              font-family: "Open Sans", sans-serif;
              font-weight: 400;
              text-align: left;
              padding-left: 8px;
              margin-right: 8px;
              outline: none;
              border-style: solid;
              border-radius: 3px;
              border-width: thin;
              border-color: #bfbfbf;
              background-color: white; }
            .igv-root .igv-navbar .igv-navbar-left-container .igv-navbar-genomic-location .igv-locus-size-group .igv-search-container .igv-search-icon-container {
              cursor: pointer;
              height: 16px;
              width: 16px; }
          .igv-root .igv-navbar .igv-navbar-left-container .igv-navbar-genomic-location .igv-locus-size-group .igv-windowsize-panel-container {
            margin-left: 4px;
            user-select: none; }
    .igv-root .igv-navbar .igv-navbar-right-container {
      display: flex;
      flex-flow: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      height: 32px;
      line-height: 32px; }
      .igv-root .igv-navbar .igv-navbar-right-container .igv-navbar-toggle-button-container {
        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        height: 100%; }
        .igv-root .igv-navbar .igv-navbar-right-container .igv-navbar-toggle-button-container div {
          margin-left: 0;
          margin-right: 4px; }
        .igv-root .igv-navbar .igv-navbar-right-container .igv-navbar-toggle-button-container div:last-child {
          margin-left: 0;
          margin-right: 0; }
      .igv-root .igv-navbar .igv-navbar-right-container .igv-navbar-toggle-button-container-750 {
        display: none; }
      .igv-root .igv-navbar .igv-navbar-right-container .igv-zoom-widget {
        color: #737373;
        font-size: 18px;
        height: 32px;
        line-height: 32px;
        margin-left: 8px;
        user-select: none;
        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center; }
        .igv-root .igv-navbar .igv-navbar-right-container .igv-zoom-widget div {
          cursor: pointer;
          margin-left: unset;
          margin-right: unset; }
        .igv-root .igv-navbar .igv-navbar-right-container .igv-zoom-widget div:first-child {
          height: 24px;
          width: 24px;
          margin-left: unset;
          margin-right: 8px; }
        .igv-root .igv-navbar .igv-navbar-right-container .igv-zoom-widget div:last-child {
          height: 24px;
          width: 24px;
          margin-left: 8px;
          margin-right: unset; }
        .igv-root .igv-navbar .igv-navbar-right-container .igv-zoom-widget div:nth-child(even) {
          display: block;
          height: fit-content; }
        .igv-root .igv-navbar .igv-navbar-right-container .igv-zoom-widget input {
          display: block;
          width: 125px; }
        .igv-root .igv-navbar .igv-navbar-right-container .igv-zoom-widget svg {
          display: block; }
      .igv-root .igv-navbar .igv-navbar-right-container .igv-zoom-widget-900 {
        color: #737373;
        font-size: 18px;
        height: 32px;
        line-height: 32px;
        margin-left: 8px;
        user-select: none;
        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center; }
        .igv-root .igv-navbar .igv-navbar-right-container .igv-zoom-widget-900 div {
          cursor: pointer;
          margin-left: unset;
          margin-right: unset; }
        .igv-root .igv-navbar .igv-navbar-right-container .igv-zoom-widget-900 div:first-child {
          height: 24px;
          width: 24px;
          margin-left: unset;
          margin-right: 8px; }
        .igv-root .igv-navbar .igv-navbar-right-container .igv-zoom-widget-900 div:last-child {
          height: 24px;
          width: 24px;
          margin-left: 8px;
          margin-right: unset; }
        .igv-root .igv-navbar .igv-navbar-right-container .igv-zoom-widget-900 div:nth-child(even) {
          width: 0;
          height: 0;
          display: none; }
        .igv-root .igv-navbar .igv-navbar-right-container .igv-zoom-widget-900 input {
          width: 0;
          height: 0;
          display: none; }
        .igv-root .igv-navbar .igv-navbar-right-container .igv-zoom-widget-900 svg {
          display: block; }
      .igv-root .igv-navbar .igv-navbar-right-container .igv-zoom-widget-hidden {
        display: none; }
  .igv-root .igv-track-container {
    position: relative; }
    .igv-root .igv-track-container .igv-track {
      position: relative;
      width: 100%;
      margin-top: 4px;
      display: flex;
      flex-flow: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: stretch; }
      .igv-root .igv-track-container .igv-track .igv-viewport-container {
        position: relative;
        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        width: calc(100% - 62px);
        height: 100%; }
        .igv-root .igv-track-container .igv-track .igv-viewport-container .igv-axis-container {
          position: relative;
          width: 50px;
          height: 100%; }
        .igv-root .igv-track-container .igv-track .igv-viewport-container .igv-viewport {
          position: relative;
          height: 100%;
          overflow-x: hidden;
          overflow-y: hidden;
          background-color: white; }
          .igv-root .igv-track-container .igv-track .igv-viewport-container .igv-viewport .igv-viewport-content {
            position: relative;
            width: 100%; }
        .igv-root .igv-track-container .igv-track .igv-viewport-container .igv-viewport-multi-locus-gap-shim {
          height: 100%;
          width: 1px;
          margin-left: 2px;
          margin-right: 2px;
          background-color: transparent; }

.igv-multi-locus-separator {
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
  width: 1px;
  background-color: gray; }

.igv-track-container-spinner {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1024;
  width: 24px;
  height: 24px;
  pointer-events: none;
  color: #737373; }

.igv-right-hand-gutter {
  position: relative;
  width: 36px;
  height: 100%;
  background: white; }

.igv-canvas {
  position: relative;
  display: block; }

.igv-ideogram-canvas {
  position: absolute;
  top: 0;
  left: 0;
  display: block; }

.igv-sample-name-viewport-track-name-canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1024; }

.igv-sample-name-viewport-hover {
  cursor: pointer;
  pointer-events: none;
  display: block;
  position: absolute;
  width: auto;
  color: black;
  font-family: sans-serif;
  font-size: 10px;
  vertical-align: middle;
  z-index: 1042;
  background-color: white; }

.igv-scrollbar-outer-div {
  position: relative;
  width: 14px;
  height: 100%;
  background-color: white; }
  .igv-scrollbar-outer-div > div {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 2px;
    width: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: #c4c4c4;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: transparent; }
  .igv-scrollbar-outer-div > div:hover {
    background-color: #c4c4c4; }

.igv-viewport-border-right {
  border-right-color: #292929;
  border-right-style: solid;
  border-right-width: 1px; }

.igv-viewport-ruler {
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  font-weight: 200;
  text-align: center; }
  .igv-viewport-ruler > div {
    height: 100%; }

.igv-track-manipulation-handle {
  position: relative;
  cursor: pointer;
  width: 12px;
  height: 100%;
  margin-left: 0;
  font-size: medium;
  border-color: #c4c4c4;
  border-style: solid;
  border-width: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  z-index: 512;
  background-color: #c4c4c4; }

.igv-track-manipulation-handle:hover,
.igv-track-manipulation-handle:focus,
.igv-track-manipulation-handle:active {
  border-color: #7e7e7e;
  background-color: #7e7e7e; }

.igv-multi-locus-panel-border {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 1px;
  background-color: green;
  border-right-color: #ff0000;
  border-right-style: solid;
  border-right-width: 1px; }

.igv-navbar-button {
  box-sizing: unset;
  padding-left: 6px;
  padding-right: 6px;
  height: 18px;
  text-transform: capitalize;
  user-select: none;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: 200;
  color: #737373;
  background-color: #f3f3f3;
  border-color: #737373;
  border-style: solid;
  border-width: thin;
  border-radius: 6px; }

.igv-navbar-button-clicked {
  color: white;
  background-color: #737373; }

.igv-navbar-button:hover {
  cursor: pointer; }

.igv-logo-nonav {
  margin-left: 4px;
  margin-top: 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 16px; }

.igv-search-results {
  position: absolute;
  top: 32px;
  left: 2px;
  height: 320px;
  width: 213px;
  background-color: white;
  border-color: #7F7F7F;
  border-style: solid;
  border-width: thin;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 9999; }
  .igv-search-results tr {
    font-family: "Open Sans", sans-serif;
    font-size: small;
    font-weight: 400;
    color: #444; }
  .igv-search-results tr:hover,
  .igv-search-results tr:focus,
  .igv-search-results tr:active {
    cursor: pointer;
    font-weight: 700;
    color: #141414; }

.igv-viewport-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.15);
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-weight: bold;
  user-select: none; }

.igv-whole-genome-container {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: white; }
  .igv-whole-genome-container div {
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: #444;
    height: 100%;
    text-align: center;
    border-right-color: #bfbfbf;
    border-right-style: solid;
    border-right-width: thin; }
    .igv-whole-genome-container div span {
      display: block;
      padding-top: 6px;
      text-overflow: ellipsis; }
  .igv-whole-genome-container div:last-child {
    border-right-color: transparent; }
  .igv-whole-genome-container div:hover,
  .igv-whole-genome-container div:focus,
  .igv-whole-genome-container div:active {
    cursor: pointer;
    background-color: #efefef; }

.igv-multi-locus-panel-close-container {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 16px;
  height: 16px;
  color: #666666;
  z-index: 1000; }

.igv-multi-locus-panel-close-container:hover {
  cursor: pointer;
  color: #434343; }

.igv-multi-locus-panel-label-div {
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -25%);
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  min-width: 16px;
  z-index: 64;
  color: #373737;
  background-color: white;
  padding: 1px; }

.igv-multi-locus-panel-label-div:hover {
  cursor: pointer; }

.igv-viewport-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1024;
  width: 24px;
  height: 24px;
  pointer-events: none;
  color: #737373; }

.igv-ruler-sweeper-div {
  display: none;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: 99999;
  background-color: rgba(68, 134, 247, 0.25); }

.igv-track-menu-border-top {
  border-top-color: #a2a2a2;
  border-top-style: solid;
  border-top-width: thin; }

.igv-track-menu-category {
  padding-left: 4px;
  font-weight: 400; }

.igv-track-drag-scrim {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 256;
  background-color: rgba(68, 134, 247, 0.25); }

.igv-trackgear-container {
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 4px;
  color: #7F7F7F; }

.igv-trackgear-container:hover {
  cursor: pointer;
  color: #444; }

.igv-track-label {
  position: absolute;
  left: 8px;
  top: 3px;
  width: auto;
  height: auto;
  max-width: 200px;
  padding-left: 3px;
  padding-right: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  font-weight: 400;
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  border-color: #444;
  border-radius: 2px;
  border-style: solid;
  border-width: thin;
  background-color: white;
  z-index: 128;
  cursor: pointer; }

.igv-track-label:hover,
.igv-track-label:focus,
.igv-track-label:active {
  background-color: rgba(0, 0, 0, 0.05); }

.zoom-in-notice-container {
  position: absolute;
  top: 10px;
  left: 50%; }
  .zoom-in-notice-container div {
    position: relative;
    left: -50%;
    font-family: "Open Sans", sans-serif;
    font-size: medium;
    font-weight: 400;
    color: #3f3f3f;
    background-color: rgba(255, 255, 255, 0.51);
    z-index: 64; }

.igv-center-guide {
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 8px;
  z-index: 8;
  display: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  border-left-style: dashed;
  border-left-width: thin;
  border-right-style: dashed;
  border-right-width: thin; }

.igv-center-guide-wide {
  background-color: rgba(0, 0, 0, 0);
  border-left-color: rgba(127, 127, 127, 0.51);
  border-right-color: rgba(127, 127, 127, 0.51); }

.igv-center-guide-thin {
  left: 50%;
  width: 1px;
  background-color: rgba(0, 0, 0, 0);
  border-left-color: rgba(127, 127, 127, 0.51);
  border-right-color: rgba(0, 0, 0, 0);
  /*background-color: rgba(127, 127, 127, 0.51);*/
  /*border-left-color: rgba(0,0,0,0);*/
  /*border-right-color: rgba(0,0,0,0);*/ }

.igv-cursor-tracking-guide {
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  z-index: 1;
  border-left-style: dotted;
  border-left-width: thin;
  border-left-color: rgba(127, 127, 127, 0.76);
  display: none; }

.igv-clickable {
  cursor: pointer;
  background-color: white; }

#color-by-tag {
  color: #444; }

#color-by-tag:hover,
#color-by-tag:focus,
#color-by-tag:active {
  cursor: pointer;
  padding-left: 2px;
  padding-right: 2px;
  color: white;
  border-color: #444;
  border-radius: 2px;
  border-style: solid;
  border-width: thin;
  background-color: #7f7f7f; }

.igv-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.igv-spinner-container {
  color: #3f3f3f;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 8px;
  font-size: 24px;
  z-index: 512; }

.igv-fa-check-visible {
  color: inherit;
  padding-right: 2px; }

.igv-fa-check-hidden {
  color: transparent;
  padding-right: 2px; }

.validateTips {
  border: 1px solid transparent;
  padding: 0.3em; }
  .validateTips fieldset {
    border: 0; }

.igv-spacer-10 {
  height: 10px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block; }

.igv-fa5-spin {
  -webkit-animation: igv-fa5-spin 2s infinite linear;
  animation: igv-fa5-spin 2s infinite linear; }

@-webkit-keyframes igv-fa5-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes igv-fa5-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*# sourceMappingURL=igv.css.map */
