
.popover {
    position: absolute;
    overflow: visible;
    width: 300px;
    height: 200px;
    background: yellow;
    z-index: 99999;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding:15px 10px;
    display: block;
}

.popoverClose {
    position: absolute;
    top:  -10px;
    right:-10px;
    width: 10px;
    height: 10px;
	font-size: 8pt;
	color: white;
	border: 2px solid yellow;
	background-color: red;
	cursor: pointer;
	font-weight: bold;
	border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
	padding: 1px 3px 2px 3px;
	text-align:center;
}

.popoverClose:hover {
  background:#911;
}
