

.igv-popover {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 240px;
    z-index: 1000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    border: 2px solid #444;
    background: #fff;
    border-radius: 2%;
    -moz-border-radius: 2%;
    -webkit-border-radius: 2%;
    display: none;
}

.igv-popoverContent {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 25px;
    bottom: 5px;
    background: #fff;
}

.igv-popoverContent .popoverContentSpan {
    font-weight: bold;
}

.igv-popoverClose {
    position: absolute;
    top: 4px;
    right:4px;
    width: 15px;
    height: 15px;
    font-size: 10pt;
    color: #444;
    border: 2px solid #fff;
    background-color: #fff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    /*padding: 1px 3px 2px 3px;*/
    text-align:center;
}

.igv-popoverClose:hover {
    color: #fff;
    border: 2px solid #e00;
    background-color: #e00;
}
