package-lock.json
.DS_Store
/.idea/
igv.js.iml
/node_modules
/npm-debug.log
/css/.sass-cache/
/dist/
/deploy/
/dev/oauth/oauthConfigPrivate.js
/yarn.lock
/js/embedCss.js
/css/igv.css
/css/igv.css.map
