.DS_Store
/.vscode/
/es5/
/.idea/
/igv.js.iml
/node_modules/.bin/cake
/node_modules
/examples/customDatasourceConfig/node_modules
/tmp/
/cBio/
/miRNA/
*.iml
/npm-debug.log
/css/.sass-cache/
/dev/css/.sass-cache/
/dist/
/dev/oauth/google-oauth.html
igv.css.map
