$mte-clusterize-font-family: 'Open Sans', sans-serif;
$mte-clusterize-font-color:#636363;
$mte-clusterize-row-highlight-color: #efefef;

#mte-modal-body {
  height: 400px;
  overflow-y: scroll;
}

#mte-clusterize-content-area {

  // one row of table
  .mte-clusterize-content-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    color: $mte-clusterize-font-color;
    //background-color: white;

    font-family: $mte-clusterize-font-family;
    font-size: 12px;
    font-weight: 400;

    margin-top:4px;
    margin-bottom: 4px;

    // table cell
    .mte-clusterize-content-row-cell {

      margin-left: 0;
      margin-right: 4px;

      padding-top: 4px;
      padding-bottom: 4px;

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 128px;
    }

    // first table cell
    .mte-clusterize-content-row-cell:first-child {
      margin-left: 4px;
      margin-right: 4px;
      width: 64px;
      //background-color: rgba(173, 255, 47, 0.51);
    }

    // last table cell
    .mte-clusterize-content-row-cell:last-child {
      margin-left: 4px;
      margin-right: 4px;
      //background-color: rgba(0, 191, 255, 0.51);
    }
  }

  .mte-clusterize-content-row:hover {
    cursor: pointer;
    //background-color: $mte-clusterize-row-highlight-color;
  }

  .mte-clusterize-selected-row {
    background-color: $mte-clusterize-row-highlight-color;
  }

  .mte-clusterize-unselected-row {
    background-color: white;
  }

}
