#trackList {

    border-color: rgb(127, 127, 127);
    border-style: solid;
    border-width: thin;

    width: 480px;
    height: 256px;
    overflow-y: auto;
}

div#trackList > div, div#myDiv > h3 {

    font-family: 'PT Sans', sans-serif;
    font-size: small;
    font-weight: 400;

    color: #444;
    margin-left: 16px;
    margin-top: 4px;
    margin-bottom: 4px;

    padding-left: 32px;
}

div#myDiv > h3 {
    font-size: large;
}

div#trackList > div:hover,
div#trackList > div:focus,
div#trackList > div:active {
    cursor: pointer;
    color: white;
    background-color: rgba(49, 106, 246, 1);
}
