.side-by-side-container {

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;

  margin: 16px;

  //> div {
  //  max-width: 100%;
  //}
}
