#igv-draw-svg-button-container {
  margin-left: 64px;
  margin-top: 32px;
}

#igv-svg-container {

  //margin-left: 50px;
  margin-top: 32px;
  margin-bottom: 64px;

  border-color: #ff01c7;
  border-style: solid;
  border-width: thin;

  //background-color: rgba(170, 237, 8, 0.1);

}

.igv-content-div {
  border-color: #242424;
  border-style: solid;
  border-width: thin;
}