@use "variables" as *;

@mixin generic-input {
  input {
    display: block;
    height: 100%;
    width: 100%;

    padding-left: 4px;

    font-family: $igv-default-font-face;
    font-weight: 400;
    color: $igv-dark-grey-color;
    text-align: left;

    outline: none;

    border-style: solid;
    border-width: thin;
    border-color: $igv-grey-color;

    background-color: white;
  }
} 